<!-- Objects Sidebar Include -->
<div ng-include="'/modules/core/views/partials/objectssidebar.html'" ng-controller="ObjectsSideBar" class=""></div>
<!-- Gifts Section View -->
<div ng-controller="GiftsController as gift" class="block-center">
    <div id="wrapperContent" class="container-fluid gift-section" ng-mouseleave="update()">
        <div class="right-section-content">
            <!--Display if form is ready to fill (ready means someone click an item in the Sidebar)-->
            <div ng-if="ready">
                <div class="panel panel-default">
                    <!-- Gift Form-->
                    <form name="gift.myForm" role="form">
                        <!--Gift info-->
                        <section>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <legend translate="GIFT.NAME"></legend>
                                    <!--Icons that show up depending if the form is valid or invalid-->
                                    <div ng-if="gift.myForm.$invalid || objectsSidebarService.selectedObject.availableIn.length == 0 || objectsSidebarService.selectedObject.sites.length == 0">
                                        <label class="error-icon fa fa-times-circle enlarge-icon"></label>
                                    </div>
                                    <div ng-if="gift.myForm.$valid && objectsSidebarService.selectedObject.availableIn.length > 0 && objectsSidebarService.selectedObject.sites.length > 0">
                                        <label class="ready-icon fa fa-check-circle enlarge-icon"></label>
                                    </div>
                                    <!--Name name:"name"-->
                                    <div class="form-group">
                                        <label for="giftName" translate="GIFT.GIFT_NAME" class="control-label"></label>
                                        <input id="giftName" ng-model="objectsSidebarService.selectedObject.name"
                                               name="name"
                                               type="text" placeholder="{{ 'GIFT.NAME_PLACEHOLDER' | translate }}"
                                               required class="form-control title-value"
                                               ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                        <!-- Input title errors -->
                                        <div ng-messages="gift.myForm.name.$error" ng-if="gift.myForm.name.$touched"class="help-block">
                                            <small ng-message="required" translate="GIFT.NAME_REQUIRED"></small>
                                        </div>
                                    </div>

                                    <!--Message name="message"-->
                                    <div class="form-group">
                                        <label for="giftMessage" translate="GIFT.MESSAGE" class="control-label"></label>
                                        <input id="giftMessage" ng-model="objectsSidebarService.selectedObject.message"
                                               name="message"
                                               type="text" placeholder="{{ 'GIFT.MESSAGE_PLACEHOLDER' | translate }}"
                                               required="required" class="form-control title-value"
                                               ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                        <!-- Input message errors -->
                                        <div ng-messages="gift.myForm.message.$error" ng-if="gift.myForm.message.$touched"class="help-block">
                                            <small ng-message="required" translate="GIFT.MESSAGE_REQUIRED"></small>
                                        </div>
                                    </div>

                                    <!--Gift Product name="productIdentifier"-->
                                    <div class="form-group">
                                        <label translate="GIFT.GIFT" class="form-label"></label>
                                        <select name="productIdentifier"
                                                ng-model="objectsSidebarService.selectedObject.productIdentifier"
                                                ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"
                                                ng-options="product.elementIdentifier as product.title for product in products"
                                                class="form-control" required>
                                            <option value="" translate="GIFT.PRODUCT_SELECT"></option>
                                        </select>

                                        <!-- Input productIdentifier errors -->
                                        <div ng-messages="gift.myForm.productIdentifier.$error" ng-if="gift.myForm.productIdentifier.$touched"class="help-block">
                                            <small ng-message="required" translate="GIFT.PRODUCT_REQUIRED"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--Gift details-->
                        <section>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <legend translate="GIFT.GIFT_DETAIL"></legend>
                                    <!--Bonus Period Question name="hasAvailablePeriod"-->
                                    <div class="form-group">
                                        <label translate="GIFT.AVAILABLE_PERIOD_QUESTION" class="form-label"></label>
                                        <div class="clearfix"></div>
                                        <!--Positive checkbox-->
                                        <div class="checkbox c-checkbox pull-left mt0">
                                            <label>
                                                <input type="radio" ng-value="true" name="hasAvailablePeriod" ng-model="objectsSidebarService.selectedObject.hasAvailablePeriod"
                                                       ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                                <span class="fa fa-check"></span>{{ 'GENERIC.POSITIVE' | translate }}
                                            </label>
                                        </div>
                                        <!--Negative checkbox-->
                                        <div class="checkbox c-checkbox pull-left mt0 period-negative">
                                            <label>
                                                <input type="radio" ng-value="false"  name="hasAvailablePeriod" ng-model="objectsSidebarService.selectedObject.hasAvailablePeriod"
                                                       ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                                <span class="fa fa-check"></span>{{ 'GENERIC.NEGATIVE' | translate }}
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!--Available Period-->
                                    <div class="form-group bonusPeriod" ng-if="objectsSidebarService.selectedObject.hasAvailablePeriod == true">
                                        <label  class="form-label" translate="GIFT.AVAILABLE_PERIOD"></label>
                                        <div class="clearfix"></div>
                                        <!--Start Date input name="startDate"-->
                                        <div class="bonusPeriodControl">
                                            <p class="col-sm-1">Del</p>
                                            <input id="giftStartDate" ng-model="objectsSidebarService.selectedObject.startDate"
                                                   name="startDate"
                                                   type="date"
                                                   min="{{currentDate | date:'yyyy-MM-dd'}}"
                                                   required class="form-control title-value"
                                                   ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                            <div class="clearfix"></div>
                                            <!-- Input startDate errors -->
                                            <div ng-messages="gift.myForm.startDate.$error" class="help-block">
                                                <small ng-message="date" translate="GIFT.DATE_VALIDATE"></small>
                                                <small ng-message="required" translate="GIFT.START_DATE_REQUIRED"></small>
                                            </div>
                                        </div>
                                        <!--End Date input name="endDate"-->
                                        <div class="bonusPeriodControl">
                                            <p class="col-sm-1">al</p>
                                            <input id="giftEndDate" ng-model="objectsSidebarService.selectedObject.endDate"
                                                   name="endDate"
                                                   type="date"
                                                   min="{{objectsSidebarService.selectedObject.startDate | date:'yyyy-MM-dd'}}"
                                                   required class="form-control title-value "
                                                   ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                            <div class="clearfix"></div>
                                            <!-- Input endDate errors -->
                                            <div ng-messages="gift.myForm.endDate.$error" ng-if="gift.myForm.endDate.$touched"class="help-block">
                                                <small ng-message="date" translate="GIFT.DATE_VALIDATE"></small>
                                                <small ng-message="required" translate="GIFT.END_DATE_REQUIRED"></small>
                                                <small ng-message="min" translate="GIFT.END_DATE_HIGHER"></small>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!--Expire Time name="expireTime"-->
                                    <div class="form-group expireTime">
                                        <label  class="form-label" translate="GIFT.EXPIRE_TIME"></label>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group col-sm-4" role="group" aria-label="First group">
                                                <input type="radio" ng-value="1"  name="expireTime"
                                                       ng-model="objectsSidebarService.selectedObject.expireTime" class="btn btn-default"
                                                       ng-class="{ 'active': objectsSidebarService.selectedObject.expireTime == '1'}"
                                                       ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                                <p class="text-center" translate="GIFT.A_DAY"
                                                   ng-class="{ 'active-text': objectsSidebarService.selectedObject.expireTime == '1'}"></p>
                                            </div>
                                            <div class="btn-group col-sm-4" role="group" aria-label="Second group">
                                                <input type="radio" ng-value="7"  name="expireTime"
                                                       ng-model="objectsSidebarService.selectedObject.expireTime" class="btn btn-default"
                                                       ng-class="{ 'active': objectsSidebarService.selectedObject.expireTime == '7'}"
                                                       ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                                <p class="text-center" translate="GIFT.A_WEEK"
                                                   ng-class="{ 'active-text': objectsSidebarService.selectedObject.expireTime == '7'}"></p>
                                            </div>
                                            <div class="btn-group col-sm-4" role="group" aria-label="Third group">
                                                <input type="radio" ng-value="-1"  name="expireTime"
                                                       ng-model="objectsSidebarService.selectedObject.expireTime" class="btn btn-default"
                                                       ng-class="{ 'active': objectsSidebarService.selectedObject.expireTime == '-1'}"
                                                       ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                                <p class="text-center" translate="GIFT.NOT_OVERCOME"
                                                   ng-class="{ 'active-text': objectsSidebarService.selectedObject.expireTime == '-1'}"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Amount name="amount"-->
                                    <div class="form-group">
                                        <label for="giftAmount" translate="GIFT.AMOUNT" class="control-label"></label>
                                        <input id="giftAmount" ng-model="objectsSidebarService.selectedObject.amount"
                                               name="amount" min="0"
                                               type="number" placeholder="{{ 'GIFT.AMOUNT_PLACEHOLDER' | translate }}"
                                               required class="form-control"
                                               ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                        <!-- Input title errors -->
                                        <div ng-messages="gift.myForm.amount.$error" ng-if="gift.myForm.amount.$touched"class="help-block">
                                            <small ng-message="required" translate="GIFT.AMOUNT_REQUIRED"></small>
                                        </div>
                                    </div>

                                    <!--Is Automatic name="isAtomatic"-->
                                    <div class="form-group isAutomatic">
                                        <label  class="form-label" translate="GIFT.IS_AUTOMATIC"></label>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group col-sm-6" role="group" aria-label="First group">
                                                <input type="radio" ng-value="false"  name="isAutomatic"
                                                       ng-model="objectsSidebarService.selectedObject.isAutomatic" class="btn btn-default"
                                                       ng-class="{ 'active': objectsSidebarService.selectedObject.isAutomatic == false}"
                                                       ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                                <p class="text-center" translate="GIFT.MANUAL"
                                                   ng-class="{ 'active-text': objectsSidebarService.selectedObject.isAutomatic == false}"></p>
                                            </div>
                                            <div class="btn-group col-sm-6" role="group" aria-label="Second group">
                                                <input type="radio" ng-value="true"  name="isAutomatic"
                                                       ng-model="objectsSidebarService.selectedObject.isAutomatic" class="btn btn-default"
                                                       ng-class="{ 'active': objectsSidebarService.selectedObject.isAutomatic == true}"
                                                       ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0"/>
                                                <p class="text-center" translate="GIFT.AUTOMATIC"
                                                   ng-class="{ 'active-text': objectsSidebarService.selectedObject.isAutomatic == true}"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--AvailableIn name="availableIn"-->
                                    <div class="form-group availableIn">
                                        <label  class="form-label" translate="GIFT.AVAILABLE_IN"></label>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group col-sm-3" role="group" aria-label="First group">
                                                <button ng-click="availableIn('nps')" type="button"
                                                        class="btn btn-default" translate="GIFT.AVAILABLE_NPS"
                                                        ng-class="{ 'active': objectsSidebarService.selectedObject.availableIn.includes('nps')}"
                                                        ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0">
                                                </button>
                                            </div>
                                            <div class="btn-group col-sm-3" role="group" aria-label="Second group">
                                                <button ng-click="availableIn('mec')" type="button"
                                                        class="btn btn-default" translate="GIFT.AVAILABLE_MEC"
                                                        ng-class="{ 'active': objectsSidebarService.selectedObject.availableIn.includes('mec')}"
                                                        ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0">
                                                </button>
                                            </div>
                                            <div class="btn-group col-sm-3" role="group" aria-label="Third group">
                                                <button ng-click="availableIn('vip')" type="button"
                                                        class="btn btn-default" translate="GIFT.AVAILABLE_VIP"
                                                        ng-class="{ 'active': objectsSidebarService.selectedObject.availableIn.includes('vip')}"
                                                        ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0">
                                                </button>
                                            </div>
                                            <div class="btn-group col-sm-3" role="group" aria-label="Third group">
                                                <button ng-click="availableIn('all')" type="button"
                                                        class="btn btn-default" translate="GIFT.AVAILABLE_ALL"
                                                        ng-class="{ 'active': objectsSidebarService.selectedObject.availableIn.includes('all')}"
                                                        ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0">
                                                </button>
                                            </div>
                                            <!-- AvailableIn errors -->
                                            <div ng-if="objectsSidebarService.selectedObject.availableIn.length == 0" class="help-block">
                                                <small translate="GIFT.AVAILABLE_REQUIRED"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--Gift locals and activation-->
                        <section>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <!--siteAssignedTo name="siteAssignedTo"-->
                                    <div class="form-group">
                                        <legend translate="GIFT.LOCALS"></legend>
                                        <label translate="GIFT.LOCALS_AVAILABLE" class="form-label"></label>
                                        <div class="clearfix"></div>
                                        <div ng-repeat="local in locals" class="col-md-4 catModule">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input  ng-click="availableLocal(local.identifier)" type="checkbox" ng-checked="checkLocal(local.identifier)"/>
                                                    <span class="fa fa-check"></span>
                                                    {{local.title1}} <small>({{local.title2}})</small>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <!-- AvailableIn errors -->
                                        <div ng-if="objectsSidebarService.selectedObject.sites.length == 0" class="help-block">
                                            <small translate="GIFT.LOCALS_REQUIRED"></small>
                                        </div>
                                    </div>
                                    <!--isActive-->
                                    <div class="form-group activate-gift">
                                        <button type="button" class="btn btn-danger col-sm-2" ng-click="deleteGift(' {{'GENERIC.DELETE_GIFT_CONFIRMATION' | translate}} ', objectsSidebarService.selectedObject)"
                                                ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0">
                                            <span class="fa fa-trash"></span>
                                            <span translate="GENERIC.DELETE"></span>
                                        </button>
                                        <button type="button" ng-click="activate()" class="btn btn-success col-sm-9 col-sm-offset-1" ng-class="{ 'btn-danger': objectsSidebarService.selectedObject.isActive==true , 'btn-success' : !objectsSidebarService.selectedObject.isActive==true}"
                                                ng-disabled="objectsSidebarService.selectedObject.amountSpent > 0">
                                            <span ng-if="objectsSidebarService.selectedObject.isActive == false" translate="GENERIC.ACTIVATE"></span>
                                            <span ng-if="objectsSidebarService.selectedObject.isActive == true" translate="GENERIC.DESACTIVATE"></span>
                                        </button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!--Alerts-->
                                    <div class="form-group">
                                        <div class="alert alert-warning alert-dismissible" ng-show="show_alert">
                                            <span class="close" ng-click="show_alert=false"><span aria-hidden="true">&times;</span></span>
                                            <small translate="GIFT.INFO"></small>
                                            <div class="clearfix"></div>
                                            <small translate="GIFT.INFO2"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
            <!--Display if form is not ready to fill-->
            <div ng-if="ready == false"
                 class="no-object-container">
                <section class="text-center on-no-object-selected">
                    <span translate="GIFT.HINT"></span>
                </section>
            </div>
        </div>
    </div>
</div>
