<!-- Objects Sidebar Include -->
<div ng-include="'/modules/core/views/partials/objectssidebar.html'" ng-controller="ObjectsSideBar" class=""></div>
<!-- Gifts Section View -->
<div ng-controller="GiftsController as giftCtrl" class="block-center">
    <div id="wrapperContent" class="container-fluid gift-section">
        <div class="right-section-content">
            <div ng-if="objectsSidebarService.selectedObject!=null && objectsSidebarService.selectedObject != {}">
                <!-- START panel-->
                <div class="panel panel-default">
                    <!-- NutShell Section -->
                    <section>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <legend translate="GIFT.TITLE"></legend>
                                <form name="myForm" role="form">
                                    <!--Title name:"title"-->
                                    <div class="form-group">
                                        <label for="giftTitle" translate="GIFT.GIFT_TITLE" class="control-label"></label>
                                        <input id="giftTitle" ng-model="objectsSidebarService.selectedObject.title"
                                           name="title"
                                           type="text" placeholder="{{ 'GIFT.TITLE_PLACEHOLDER' | translate }}"
                                           required class="form-control title-value"/>
                                        <!-- Input title errors -->
                                        <div ng-messages="myForm.title.$error" ng-if="myForm.title.$touched"class="help-block">
                                            <small ng-message="required" translate="GIFT.TITLE_REQUIRED"></small>
                                        </div>
                                    </div>

                                    <!--Message name="message"-->
                                    <div class="form-group">
                                        <label for="giftMessage" translate="GIFT.MESSAGE" class="control-label"></label>
                                        <input id="giftMessage" ng-model="objectsSidebarService.selectedObject.message"
                                           name="message"
                                           type="text" placeholder="{{ 'GIFT.MESSAGE_PLACEHOLDER' | translate }}"
                                           required="required" class="form-control title-value"/>
                                        <!-- Input message errors -->
                                        <div ng-messages="myForm.message.$error" ng-if="myForm.message.$touched"class="help-block">
                                            <small ng-message="required" translate="GIFT.MESSAGE_REQUIRED"></small>
                                        </div>
                                    </div>

                                    <!--Gift Product name="productToGift"-->
                                    <div class="form-group">
                                        <label translate="GIFT.GIFT" class="form-label"></label>
                                        <select name="productToGift"
                                                ng-model="objectsSidebarService.selectedObject.productToGift.title"
                                                ng-options="product as product.title for product in products"
                                                class="form-control" required>
                                            <option value="" translate="GIFT.PRODUCT_SELECT"></option>
                                        </select>
                                        <!-- Input productToGift errors -->
                                        <div ng-messages="myForm.productToGift.$error" ng-if="myForm.productToGift.$touched"class="help-block">
                                            <small ng-message="required" translate="GIFT.PRODUCT_REQUIRED"></small>
                                        </div>
                                    </div>

                                    <!--Bonus Period Question name="bonusPeriodState"-->
                                    <div class="form-group">
                                        <label translate="GIFT.BONUS_PERIOD_QUESTION" class="form-label"></label>
                                        <div class="clearfix"></div>
                                        <!--Positive checkbox-->
                                        <div class="checkbox c-checkbox pull-left mt0">
                                            <label>
                                                <input type="radio" value="1" name="bonusPeriodState" ng-model="objectsSidebarService.selectedObject.bonusPeriodState" />
                                                <span class="fa fa-check"></span>{{ 'GENERIC.POSITIVE' | translate }}
                                            </label>
                                        </div>
                                        <!--Negative checkbox-->
                                        <div class="checkbox c-checkbox pull-left mt0 period-negative">
                                            <label>
                                                <input type="radio" value="0"  name="bonusPeriodState" ng-model="objectsSidebarService.selectedObject.bonusPeriodState" />
                                                <span class="fa fa-check"></span>{{ 'GENERIC.NEGATIVE' | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <!--Bonus Period-->
                                    <div class="form-group bonusPeriod" ng-if="objectsSidebarService.selectedObject.bonusPeriodState == '1'">
                                        <label  class="form-label" translate="GIFT.BONUS_PERIOD"></label>
                                        <div class="clearfix"></div>
                                        <!--Start Date input name="startDate"-->
                                        <div class="bonusPeriodControl">
                                            <p class="col-sm-1">Del</p>
                                            <input id="giftStartDate" ng-model="objectsSidebarService.selectedObject.startDate"
                                                   name="startDate"
                                                   type="date"
                                                   min="{{currentDate | date:'yyyy-MM-dd'}}"
                                                   required class="form-control title-value"/>
                                            <div class="clearfix"></div>
                                            <!-- Input startDate errors -->
                                            <div ng-messages="myForm.startDate.$error" ng-if="myForm.startDate.$touched"class="help-block">
                                                <small ng-message="date" translate="GIFT.DATE_VALIDATE"></small>
                                                <small ng-message="required" translate="GIFT.START_DATE_REQUIRED"></small>
                                            </div>
                                        </div>
                                        <!--End Date input name="endDate"-->
                                        <div class="bonusPeriodControl">
                                            <p class="col-sm-1">al</p>
                                            <input id="giftEndDate" ng-model="objectsSidebarService.selectedObject.endDate"
                                                   name="endDate"
                                                   type="date"
                                                   min="{{objectsSidebarService.selectedObject.startDate | date:'yyyy-MM-dd'}}"
                                                   required class="form-control title-value "/>
                                            <div class="clearfix"></div>
                                            <!-- Input endDate errors -->
                                            <div ng-messages="myForm.endDate.$error" ng-if="myForm.endDate.$touched"class="help-block">
                                                <small ng-message="date" translate="GIFT.DATE_VALIDATE"></small>
                                                <small ng-message="required" translate="GIFT.END_DATE_REQUIRED"></small>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!--expireTime name="expireTime"-->
                                    <div class="form-group expireTime">
                                        <label  class="form-label" translate="GIFT.EXPIRE_TIME"></label>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group col-sm-4" role="group" aria-label="First group">
                                                <input type="radio" value="1"  name="expireTime"
                                                       ng-model="objectsSidebarService.selectedObject.expireTime" class="btn btn-default"
                                                       ng-class="{ 'active': objectsSidebarService.selectedObject.expireTime == '1'}" />
                                                <p class="text-center" translate="GIFT.A_DAY"
                                                   ng-class="{ 'active-text': objectsSidebarService.selectedObject.expireTime == '1'}"></p>
                                            </div>
                                            <div class="btn-group col-sm-4" role="group" aria-label="Second group">
                                                <input type="radio" value="7"  name="expireTime"
                                                       ng-model="objectsSidebarService.selectedObject.expireTime" class="btn btn-default"
                                                       ng-class="{ 'active': objectsSidebarService.selectedObject.expireTime == '7'}" />
                                                <p class="text-center" translate="GIFT.A_WEEK"
                                                   ng-class="{ 'active-text': objectsSidebarService.selectedObject.expireTime == '7'}"></p>
                                            </div>
                                            <div class="btn-group col-sm-4" role="group" aria-label="Third group">
                                                <input type="radio" value="0"  name="expireTime"
                                                       ng-model="objectsSidebarService.selectedObject.expireTime" class="btn btn-default"
                                                       ng-class="{ 'active': objectsSidebarService.selectedObject.expireTime == '0'}" />
                                                <p class="text-center" translate="GIFT.NOT_OVERCOME"
                                                   ng-class="{ 'active-text': objectsSidebarService.selectedObject.expireTime == '0'}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>