<!--**Created by Carlos on 15/07/2016-->
<!--Gifts available-->
<div class="modal fade" id="giftsAvailable" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" modal="close" target="giftsAvailable"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center">Regalos disponibles</h3>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div>
                    <button type="button" class="btn btn-warning" modal="close" target="giftsAvailable">Cerrar</button>
                    <button class="btn btn-secondary" type="submit" ng-click="" modal="close" target="giftsAvailable">Seleccionar</button>
                </div>
            </div>
        </div>
    </div> <!-- / Modal Form -->
</div>