<!--**Created by Carlos on 15/07/2016-->
<!--Gifts available-->
<div class="modal fade selectGiftModal" id="giftsAvailableAutomatic" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" modal="close" ng-click="refresh()" target="giftsAvailableAutomatic"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center">Regalos disponibles en {{organizationService.selectedOrganization.name}}</h3>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="clearfix activeGift" ng-if="isGiftActive.gift">
                    <p class="text-center">Tienes un regalo activo, debes desactivarlo si quieres activar algún otro</p>
                    <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                        <img ng-src="{{getGiftImage(isGiftActive.gift.productIdentifier)}}" alt="{{isGiftActive.gift.name}}" class="gift-image"/>
                        <p class="nameDisplay">{{isGiftActive.gift.name}}</p>
                    </div>
                </div>
                <ul ng-if="giftDisplay=='automatic' && isGiftActive.gift==null">
                    <p ng-if="npsGiftsAutomatic.length==0" class="text-center">(No hay regalos automáticos para asignar)</p>
                    <li ng-repeat="gift in npsGiftsAutomatic" class="col-sm-4 col-xs-2" ng-if="((gift.isUnlimited || gift.amount>gift.amountSpent) && gift.hasAvailablePeriod==false && gift.isDeleted==false) || ((gift.isUnlimited || gift.amount>gift.amountSpent) && ((currentDate | date) <= (gift.endDate | date)) && gift.hasAvailablePeriod==true && gift.isDeleted==false)">
                        <div ng-click="setSelectedGift(gift.identifier)" tabindex="0">
                            <img ng-src="{{getGiftImage(gift.productIdentifier)}}" alt="{{gift.name}}" class="gift-image"/>
                            <p class="nameDisplay">{{gift.name}}</p>
                        </div>
                    </li>
                </ul>
                <hr>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" modal="close" ng-click="refresh()" target="giftsAvailableAutomatic">Cerrar</button>
                    <button ng-if="isGiftActive.gift==null" ng-disabled="selectedGift==null" class="btn btn-primary" type="submit" modal="close" target="giftsAvailableAutomatic" ng-click="assignGift()">Asignar</button>
                    <button ng-if="isGiftActive.gift" class="btn btn-danger" type="submit" modal="close" target="giftsAvailableAutomatic" ng-click="desactivateGift()">Desactivar</button>
                </div>
            </div>
        </div>
    </div> <!-- / Modal Form -->
</div>
