<div data-ng-controller="currentCardController">
    <div class="loadercont loadercontainer" data-ng-if="isLoading">
        <div class="centerloader">
            <div class="line-scale loadernps">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4 activeCard">

            </div>
            <div class="col-sm-4 usersCard">

            </div>
            <div class="col-sm-4 qrCodeDisplay">

            </div>
        </div>
    </div>
</div>
