<div data-ng-controller="currentCardController">
    <div class="loadercont loadercontainer" data-ng-if="isLoading">
        <div class="centerloader">
            <div class="line-scale loadernps">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4 activeCard">
                <h5>Tarjeta de cliente frecuente activa</h5>
                <small data-ng-if="!activeCard">(No se encuentra ninguna tarjeta activa)</small>
                <div data-ng-if="activeCard" class="col-sm-12 activeCardInfo">
                    <div class="row cardPrimaryInfo">
                        <div class="col-sm-4">
                            <img data-ng-src="{{activeCard.image}}" alt="Regalo de la tarjeta" />
                        </div>
                        <div class="col-sm-8">
                            <p><strong>{{activeCard.title}}</strong></p>
                            <small><strong>Regalo: </strong>{{activeCard.gift.name}}</small>
                            <small ng-if="!activeCard.isUnlimited"><strong>Total: </strong>{{activeCard.quantity}}</small>
                            <small ng-if="activeCard.isUnlimited"><strong>Total: </strong>Ilimitadas</small>
                            <small><strong>Entregadas: </strong>{{activeCard.amountAssigned}}</small>
                        </div>
                    </div>
                    <div class="row cardSecondaryInfo">
                        <div class="col-sm-12">
                            <small><strong>Regla: </strong>{{activeCard.rule}}</small>
                            <small><strong>Objetivo:  </strong>{{activeCard.goal}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 usersCard">
                <h5>Usuarios ligados a la tarjeta</h5>
                <small data-ng-if="usersCard.length==0">(No se encuentra ninguna tarjeta activa o no hay usuarios ligados)</small>
                <ul class="usersList">

                </ul>
            </div>
            <div class="col-sm-4 qrCodeDisplay">
                <h5>Código QR de {{currentSite.title1}} - {{currentSite.title2}}</h5>
                <small data-ng-if="!currentQR">(Este sitio no ha generado su código QR)</small>
                <div data-ng-if="currentQR">
                    <qrcode version="6" error-correction-level="M" data="biin/{{currentSite.identifier}}/{{currentQR.identifier}}" size="200"
                            download="true" download-file-name="Código QR {{currentSite.title1}}-{{currentSite.title2}}">
                    </qrcode>
                    <div class="clearfix"></div>
                    <small>*Click al código para descargar</small>
                </div>
            </div>
        </div>
    </div>
</div>
