<div ng-controller="mobileAverageVisitedElementsController">
    <!--<div class="row row-table row-flush">
        <div class="col-xs-4 bg-green text-center">
            <em class="fa fa-bar-chart fa-2x"></em>
        </div>
        <div class="col-xs-8">
            <div class="panel-body text-center">
                <h4 class="mt0">{{value | number:0}}</h4>
                <p class="mb0 text-muted">Shares</p>
            </div>
        </div>
    </div>
    <div class="panel-body bg-info text-center">
        <div class="text-lg m0">{{value | number:0}}</div>
        <p>Compartidos</p>
        <div class="mb-lg"></div>
        <em class="fa fa-share-alt text-alpha"></em>
    </div>-->
    <div class="panel widget bg-success col-same-height-of-table">
        <div class="row row-table">
            <div class="col-xs-4 text-center bg-success-dark pv-lg">
                <em class="icon-share fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
                <div class="h1 m0 text-bold">{{value | number:0}}</div>
                <div class="text-uppercase">Compartidos</div>
            </div>
        </div>
    </div>
</div>
