<div ng-controller="mobilePieVisitsController" ngCloack="ngCloack" class="panel visitsvsretorning-graph">
    <div collapse="" class="panel-wrapper">
        <div class="panel-body">
            <div data-ng-if="enoughData">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
            </div>
            <div data-ng-if="!enoughData" class="text-center">
                {{ 'dashboard.NOT_ENOUGH_DATA' | translate }}
            </div>
        </div>
    </div>
</div>
