<div data-ng-controller="npsController" class="npsContainer">
    <div class="loadercont loadercontainer" data-ng-if="isLoading">
        <div class="centerloader">
            <div class="line-scale loadernps">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <!-- START widget-->
                    <div class="panel widget custom-border">
                        <div class="panel-body" data-ng-class="indexBGColor">
                            <div class="row row-table">
                                <div class="row text-center">
                                    <div class="NPSIndexText">Índice</div>
                                    <div class="NPSScore">{{npsScore | number:0}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row row-table text-center">
                                <div class="col-xs-3">
                                    <p class="m0 h3 text-22px">{{totalCases}}</p>
                                    <p class="m0 ">Encuestados</p>
                                </div>
                                <div class="col-xs-3 text-success">
                                    <p class="m0 h3 text-22px">{{promotersQuantity}} ({{promotersPercentage | number:0}}%)</p>
                                    <p class="m0 ">{{ 'NPS.PROMOTERS' | translate }}</p>
                                </div>
                                <div class="col-xs-3 text-warning">
                                    <p class="m0 h3 text-22px">{{passiveQuantity}} ({{passivePercentage | number:0}}%)</p>
                                    <p class="m0">{{ 'NPS.PASSIVE' | translate }}</p>
                                </div>
                                <div class="col-xs-3 text-danger">
                                    <p class="m0 h3 text-22px">{{detractorsQuantity}} ({{detractorsPercentage | number:0}}%)</p>
                                    <p class="m0">{{ 'NPS.DETRACTORS' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- START widget-->
                    <div class="panel widget custom-border">
                        <div class="panel-body">
                            <!--<nvd3 options="options" data="data" class="visitsGraph with-3d-shadow with-transitions"></nvd3>-->
                            <flot dataset="lineData" options="lineOptions" height="185px"></flot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary btn-block select-gift">Seleccionar regalo</button>
            <uib-tabset active="active">
                <!--Surveyed tab-->
                <uib-tab index="0" heading="Encuestados">
                    <div>
                        <div class="nps-last-comments-title">Últimos 20 comentarios</div>
                        <!-- START list group-->
                        <div class="list-group" data-ng-if="lastComments.length > 0">
                            <!-- START list group item-->
                            <a class="list-group-item" data-ng-repeat="commentData in lastComments">
                                <div class="media-box">
                                    <div class="pull-left border-round" data-ng-class="{ 'nps-green-border': commentData.rating>=9, 'nps-orange-border': commentData.rating<9 && commentData.rating>=7, 'nps-red-border':commentData.rating<7}">
                                        <img ng-src="{{commentData.image}}" alt="Image"
                                             class="media-box-object img-circle thumb64"/>
                                    </div>
                                    <div class="media-box-body clearfix">
                                        <button class="mb-sm btn btn-primary pull-right"><span class="fa fa-trophy"></span> Premiar</button>
                                        <strong class="media-box-heading">
                                            <span class="circle circle-success circle-lg text-left"></span>
                                            {{commentData.user}}
                                        </strong>
                                        <!--<p class="mb-sm">-->
                                            <!--<small>{{commentData.user.email}}</small>-->
                                        <!--</p>-->
                                        <!--<p class="mb-sm">-->
                                            <!--<small>{{commentData.user.telephone}}</small>-->
                                        <!--</p>-->
                                        <p class="mb-sm" data-ng-class="{ 'text-success': commentData.rating>=9, 'text-warning': commentData.rating<9 && commentData.rating>=7, 'text-danger':commentData.rating<7}">
                                            <small><strong>Calificación: </strong><strong>{{commentData.rating}}</strong></small>
                                        </p>
                                        <p class="mb-sm">
                                            <small>{{commentData.comment}}</small>
                                        </p>
                                        <small class="pull-right">{{commentData.date}}</small>
                                    </div>
                                </div>
                            </a>
                            <!-- END list group item-->
                        </div>
                        <div class="list-group center-text" data-ng-if="lastComments.length <= 0">
                            No hay comentarios
                        </div>
                        <!-- END list group-->
                    </div>
                </uib-tab>
                <!--Pending tab-->
                <uib-tab index="1" heading="Pendientes">
                    <div class="nps-last-comments-title">Usuarios pendientes de reclamar regalo</div>
                    <div class="list-group">

                    </div>
                </uib-tab>
                <!--Awarded tab-->
                <uib-tab index="2" heading="Premiados">
                    <div class="nps-last-comments-title">Usuarios que han sido premiados</div>
                    <div class="list-group">

                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
