<div data-ng-controller="npsController">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <!-- START widget-->
                    <div class="panel widget custom-border">
                        <div class="panel-body" data-ng-class="indexBGColor">
                            <div class="row row-table">
                                <div class="row text-center">
                                    <div class="NPSIndexText">Indice</div>
                                    <h2 class="NPSScore">{{npsScore | number:0}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row row-table text-center">
                                <div class="col-xs-3">
                                    <p class="m0 h3">{{totalCases}}</p>
                                    <p class="m0 ">Encuestados</p>
                                </div>
                                <div class="col-xs-3 text-success">
                                    <p class="m0 h3">{{promotersQuantity}} ({{promotersPercentage | number:0}}%)</p>
                                    <p class="m0 ">{{ 'NPS.PROMOTERS' | translate }}</p>
                                </div>
                                <div class="col-xs-3 text-warning">
                                    <p class="m0 h3">{{passiveQuantity}} ({{passivePercentage | number:0}}%)</p>
                                    <p class="m0">{{ 'NPS.PASSIVE' | translate }}</p>
                                </div>
                                <div class="col-xs-3 text-danger">
                                    <p class="m0 h3">{{detractorsQuantity}} ({{detractorsPercentage | number:0}}%)</p>
                                    <p class="m0">{{ 'NPS.DETRACTORS' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- START widget-->
                    <div class="panel widget custom-border">
                        <div class="panel-body">
                            <!--<nvd3 options="options" data="data" class="visitsGraph with-3d-shadow with-transitions"></nvd3>-->
                            <flot dataset="lineData" options="lineOptions" height="185px"></flot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="">
                <div class="custom-border">
                    <div class="nps-last-comments-title">Ultimos 20 comentarios</div>
                    <!-- START list group-->
                    <div class="list-group custom-border" style="overflow-x: hidden; overflow-y: scroll; max-height: 424px; min-height: 424px; padding-top: 0px">
                        <!-- START list group item-->
                        <a class="list-group-item" data-ng-repeat="commentData in lastComments">
                            <div class="media-box">
                                <div class="pull-left border-round" data-ng-class="{ 'nps-green-border': commentData.rating>=9, 'nps-orange-border': commentData.rating<9 && commentData.rating>=7, 'nps-red-border':commentData.rating<7}">
                                    <img ng-src="{{commentData.image}}" alt="Image"
                                         class="media-box-object img-circle thumb64"/>
                                </div>
                                <div class="media-box-body clearfix">
                                    <small class="pull-right">{{commentData.date}}</small>
                                    <strong class="media-box-heading text-primary">
                                        <span class="circle circle-success circle-lg text-left"></span>
                                        {{commentData.user}}
                                    </strong>
                                    <p class="mb-sm" data-ng-class="{ 'text-success': commentData.rating>=9, 'text-warning': commentData.rating<9 && commentData.rating>=7, 'text-danger':commentData.rating<7}">
                                        <strong>Calificación: </strong><strong>{{commentData.rating}}</strong>
                                    </p>
                                    <p class="mb-sm">
                                        <small>{{commentData.comment}}</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- END list group item-->
                    </div>
                    <!-- END list group-->
                </div>
            </div>
        </div>

    </div>
</div>
