<div ng-controller="VisitsGraphController" ngCloack="ngCloack" class="graph listenOrgChange visitsGraphArea">
    <div class="row">
        <div class="col-md-6">
            <div class="visitsCriterias">
                <select ng-model="firstCriteria" ng-change="firstCriteriaChange(firstCriteria)" class="form-control bootstrap-select visitsCriteria">
                    <option value="Visits">Visits</option>
                </select>
                <select ng-model="secondCriteria" ng-change="secondCriteriaChange(secondCriteria)" class="form-control bootstrap-select visitsCriteria">
                    <option value="Notifications">Notifications</option>
                    <option value="None">None</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <buttons class="pull-right">
                <button ng-click="changeChartRange(7)" class="btn-default">1 week</button>
                <button ng-click="changeChartRange(30)" class="btn-default">30 Days	</button>
                <button ng-click="changeChartRange(180)" class="btn-default">6 months</button>
            </buttons>
        </div>
    </div>
    <div class="visitsGraphContainer">
        <nvd3 options="options" data="data" class="visitsGraph with-3d-shadow with-transitions"></nvd3>
    </div>
</div>
