<div ng-include="'/modules/core/views/partials/objectssidebar.html'" ng-controller="ObjectsSideBar" class=""></div>
<div ng-controller="ShowcasesController as showcasesCtrl" class="">
    <div id="wrapperContent" class="container-fluid" ng-mouseleave="save()">
        <div class="right-section-content">
            <div ng-if="objectsSidebarService.selectedObject!=null && objectsSidebarService.selectedObject != {}">
                <!-- NutShell Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend>{{ 'SHOWCASE.DETAILS' | translate }}</legend>
                            <div ng-if="myForm.$invalid || objectsSidebarService.selectedObject.elements.length == 0 || !hasValidElements(objectsSidebarService.selectedObject.elements)">
                                <label class="error-icon fa fa-minus-square enlarge-icon"></label>
                            </div>
                            <div ng-if="myForm.$valid && objectsSidebarService.selectedObject.elements.length > 0 && hasValidElements(objectsSidebarService.selectedObject.elements)">
                                <label class="ready-icon fa fa-check-square-o enlarge-icon"></label>
                            </div>
                            <p>{{ 'SHOWCASE.DETAILS_INFO' | translate }}</p>
                            <form name="myForm" class="form-validate">
                                <div class="section form-horizontal">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name" class="control-label">{{ 'SHOWCASE.NAME' | translate }}</label>
                                            <input id="name" ng-model="objectsSidebarService.selectedObject.name" name="name" type="text"  ng-blur="validate()" placeholder="{{'SHOWCASE.NAME_PLACEHOLDER'|translate}}" required="required" class="form-control title-value"/>
                                        </div>
                                        <!--<div class="form-group">
                                            <label for="description" class="control-label">{{ 'SHOWCASE.DESCRIPTION' | translate }}</label>
                                            <input id="description" ng-model="objectsSidebarService.selectedObject.description"  name="description" type="text"  ng-blur="validate()" placeholder="{{'SHOWCASE.DESCRIPTION_PLACEHOLDER'|translate}}" class="form-control title-value"/>
                                        </div>-->
                                    </div>
                                    <!--<div class="col-md-12">
                                        <h4>Activation time</h4>
                                        <div class="col-md-3">
                                            <timepicker ng-model="objectsSidebarService.selectedObject.startTime" hour-step="1" minute-step="30" show-meridian="false" ng-change="updateShowcaseInBiins(objectsSidebarService.selectedObject)"></timepicker>
                                            <h5>Start Time</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <timepicker ng-model="objectsSidebarService.selectedObject.endTime" hour-step="1" minute-step="30" show-meridian="false" ng-change="updateShowcaseInBiins(objectsSidebarService.selectedObject)"></timepicker>
                                            <h5>End Time</h5>
                                        </div>
                                    </div>
                                    <h4>Segmentation</h4>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <h4>Genero</h4>
                                            <label>Mujer</label>
                                            <label class="pull-right">Hombre</label>
                                            <slider ng-model="objectsSidebarService.selectedObject.segregation.gender" min="0" max="100" value="" slider-tooltip="hide" class="bs-slider"></slider>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Edad</h4>
                                            <label>0</label>
                                            <label class="pull-right">65+</label>
                                            <slider ng-model="objectsSidebarService.selectedObject.segregation.age" min="0" max="65" value="[25,65]" range="true" class="bs-slider"></slider>
                                        </div>
                                    </div>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <!-- Elements Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend>{{ 'SHOWCASE.ELEMENTS' | translate }}</legend>
                            <p>{{ 'SHOWCASE.ELEMENTS_INFO' | translate }}</p>
                            <div class="error-message" ng-show="objectsSidebarService.selectedObject.elements.length == 0 || !hasValidElements(objectsSidebarService.selectedObject.elements)">* {{ 'SHOWCASE.ELEMENTS_REQUIRED_MESSAGE' | translate }}</div>
                            <form class="novalidate">
                                <div class="section">
                                    <div id="showcaseElements">
                                        <div class="elementInShowcaseList" data-drop="true" data-jqyoui-options jqyoui-droppable  ng-model="objectsSidebarService.selectedObject.elements">
                                            <div ng-repeat="el in objectsSidebarService.selectedObject.elements | orderBy:natural('position')"
                                                 class="element-showcase col-md-2"
                                                 data-drop="true"  jqyoui-droppable="{index:{{$index}}}"
                                                 data-drag="true" data-jqyoui-options="{revert: 'invalid',zIndex: 100}"
                                                 jqyoui-draggable="{insertInline:true, index:{{$index}}}" ng-model="objectsSidebarService.selectedObject.elements">
                                                <div class="moduleTitle">
                                                    <span>{{el.title}}</span>
                                                </div>
                                                <img ng-src="{{el.media[0].url}}" class="img-responsive"/>
                                                <span ng-show="el.isReady == 0" class="fa fa-warning element-incomplete"></span>
                                                <div ng-click="removeElementAt(objectsSidebarService.selectedObject.elements.indexOf(el))"
                                                     class="btnDelete icon-round-control btn-on-hover">
                                                    <em class="fa fa-trash"></em>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <legend>Productos por Asignar</legend>
                                        <div class="elementsAvailableList">
                                            <div ng-repeat="avEl in elements| filter:filteredElements"
                                                 class="elements-available-item col-md-2"
                                                 data-drag="true" data-jqyoui-options="{revert: true,revertDuration:0, appendTo:'body',helper: 'clone', zIndex: 100}"
                                                 jqyoui-draggable="{placeholder:'keep'}" ng-model="avEl">
                                                <div class="moduleWrapper contentHideButtons">
                                                    <div class="moduleTitle">
                                                        <span>{{avEl.title}}</span>
                                                    </div>
                                                    <span ng-show="avEl.isReady == 0" class="fa fa-warning element-incomplete"></span>
                                                    <img ng-src="{{avEl.media[0].url}}" class="img-responsive"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid searchBox">
                                            <div class="searchBox-wrapper-elements">
                                                <input type="text" placeholder="search" ng-model="query"
                                                       autofocus="autofocus" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="panel-body">
                            <legend>{{ 'SHOWCASE.SITES' | translate }}</legend>
                            <p>{{ 'SHOWCASE.SITES_INFO' | translate }}</p>
                            <div class="section">
                                <div id="wizardShowcasePublishWrapper">
                                    <div scrollbar="scrollbarOptionsStandard" class="showcaseWrapperContainer scrollbar-inner">
                                        <div ng-repeat="site in sites" class="siteModule">
                                            <div class="site">
                                                <div class="siteTitle1">
                                                    <label>{{site.title1}}</label>
                                                </div>
                                                <div class="siteTitle2">
                                                    <label>{{site.title2}}</label>
                                                </div>
                                            </div>
                                            <div class="showcaseWrapper">
                                                <div ng-repeat="showcase in objectsSidebarService.objects | orderBy:sortShowcases(site)" ng-class="isShowcaseAssigned(site, showcase)" class="showcase">
                                                    <div class="showcaseOptionsContainer">
                                                        <div class="showcaseOptions">
                                                            <div ng-click="moveShowcaseUp(site,showcase)" class="upButton"><em class="fa fa-arrow-up"></em></div>
                                                            <div ng-click="moveShowcaseDown(site,showcase)" class="downButton"><em class="fa fa-arrow-down"></em></div>
                                                        </div>
                                                    </div>
                                                    <div ng-click="setShowcaseAssigned(site, showcase)" class="showcaseContainer">
                                                        <label class="showcaseLabel">{{showcase.name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <button  type="button" class="btn btn-oval btn-danger align-right" ng-click="deleteShowcase(' {{'GENERIC.DELETE_SHOWCASE_CONFIRMATION' | translate}} ', objectsSidebarService.selectedObject)">{{ 'GENERIC.DELETE_SHOWCASE' | translate }}</button>
                <code>IDENTIFIER: {{objectsSidebarService.selectedObject.identifier}}</code>
            </div>
            <div ng-if="objectsSidebarService.selectedObject==null || objectsSidebarService.selectedObject == {}" class="no-object-container">
                <section class="text-center on-no-object-selected">
                    <span>Por favor seleccione una vitrina en la barra lateral o cree uno presionando el botón de crear nuevo.</span>
                </section>
            </div>
        </div>
    </div>
</div>
