<div ng-include="'/modules/core/views/partials/objectssidebar.html'" ng-controller="ObjectsSideBar" class=""></div>
<div ng-controller="BiinsController as biinsCtrl" class="">
    <div id="wrapperContent" class="container-fluid" ng-mouseleave="save()">
        <div class="right-section-content">
            <div ng-if="objectsSidebarService.selectedObject!=null && objectsSidebarService.selectedObject != {}">
                <!-- NutShell Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend>Avisos del Local</legend>
                        </div>
                        <div class="panel-body">
                            <form class="novalidate">
                                <div class="section">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div>
                                                <label>Nombre</label>
                                                <input ng-model="objectsSidebarService.selectedObject.name"
                                                       ng-value="objectsSidebarService.selectedObject.name"
                                                       required=""
                                                       class="form-control"/>
                                            </div>
                                            <div>
                                                <label>Mensaje</label>
                                                <input type="text" required=""
                                                       ng-model="objectsSidebarService.selectedObject.message"
                                                       ng-value="objectsSidebarService.selectedObject.message"
                                                       class="form-control"/>
                                            </div>
                                            <div>
                                                <label>Producto</label>
                                                <select required=""
                                                        data-ng-model="objectsSidebarService.selectedObject.elementIdentifier"
                                                        data-ng-options="element.elementIdentifier as element.title for element in elements"
                                                        class="form-control"></select>
                                                <span>Solamente puede seleccionar un producto para su campaña.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <!-- Days Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend>Dias</legend>
                        </div>
                        <div class="panel-body">
                            <form class="novalidate">
                                <div class="section">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <a type="button" class="btn btn-default btn-md btn-block"
                                                   ng-click="enableAllDays()">Todos</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a type="button" class="btn btn-default btn-md btn-block"
                                                   ng-click="disableAllDays()">Ninguno</a></div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   ng-model="days.monday"
                                                                   ng-true-value="true" ng-false-value="false"/>
                                                            <span class="fa fa-check"></span>
                                                            Lunes
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   ng-model="days.tuesday"
                                                                   ng-true-value="true" ng-false-value="false"/>
                                                            <span class="fa fa-check"></span>
                                                            Martes
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   ng-model="days.wednesday"
                                                                   ng-true-value="true" ng-false-value="false"/>
                                                            <span class="fa fa-check"></span>
                                                            Miércoles
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   ng-model="days.thursday"
                                                                   ng-true-value="true" ng-false-value="false"/>
                                                            <span class="fa fa-check"></span>
                                                            Jueves
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   ng-model="days.friday"
                                                                   ng-true-value="true" ng-false-value="false"/>
                                                            <span class="fa fa-check"></span>
                                                            Viernes
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   ng-model="days.saturday"
                                                                   ng-true-value="true" ng-false-value="false"/>
                                                            <span class="fa fa-check"></span>
                                                            Sabado
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   ng-model="days.sunday"
                                                                   ng-true-value="true" ng-false-value="false"/>
                                                            <span class="fa fa-check"></span>
                                                            Domingo
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="section">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div class="row row-eq-height">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        Hora de Inicio
                                                    </div>
                                                    <div class="row">
                                                        <uib-timepicker name="initialTime" required=""
                                                                        ng-model="time.initial" mousewheel="false"
                                                                        hour-step="hstep" minute-step="mstep"
                                                                        min="initialMin"
                                                                        max="initialMax"
                                                                        ng-change="checkTimeValues()"
                                                                        show-meridian="isMeridian"></uib-timepicker>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        Hora Final
                                                    </div>
                                                    <div class="row">
                                                        <uib-timepicker name="finalTime" required=""
                                                                        ng-model="time.final"
                                                                        mousewheel="false" hour-step="hstep"
                                                                        minute-step="mstep"
                                                                        min="finalMin"
                                                                        max="finalMax"
                                                                        ng-change="checkTimeValues()"
                                                                        show-meridian="isMeridian"></uib-timepicker>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button class="btn btn-normal btn-block" ng-click="setAllDay()"
                                                            style="vertical-align: middle">Todo el Dia
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <!-- Actions Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend>Locales</legend>
                        </div>
                        <div class="panel-body">
                            <form class="novalidate">
                                <div class="section">
                                    <div class="container-fluid">
                                        <div class="col-md-6">
                                            <a type="button" class="btn btn-default btn-md btn-block"
                                               ng-click="enableNoticeInAllSites()">Todos</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a type="button" class="btn btn-default btn-md btn-block"
                                               ng-click="disableNoticeInAllSites()">Ninguno</a>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Activado</th>
                                                        <th>Local</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="siteRelation in sitesAssigned">
                                                        <td>
                                                            <div class="checkbox c-checkbox">
                                                                <label>
                                                                    <input type="checkbox"
                                                                           ng-model="siteRelation.isAssigned"
                                                                           ng-true-value="true" ng-false-value="false"/>
                                                                    <span class="fa fa-check"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>{{siteRelation.site.title2}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        Activar la campaña en todos los lugares desactivará cualquier otra campaña que
                                        esté activa en ese lugar durante ese periodo de tiempo.
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-12">
                                    <a type="button" class="btn btn-md form-control btn-block"
                                       data-ng-class="{ 'btn-danger': objectsSidebarService.selectedObject.isActive , 'btn-success' : !objectsSidebarService.selectedObject.isActive}"
                                       ng-click="toggleIsActive()">
                                        <span data-ng-if="objectsSidebarService.selectedObject.isActive">Desactivar</span>
                                        <span data-ng-if="!objectsSidebarService.selectedObject.isActive">Activar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div ng-if="objectsSidebarService.selectedObject==null || objectsSidebarService.selectedObject == {}"
                 class="no-object-container">
                <section class="text-center on-no-object-selected">
                    <span>Por favor seleccione un aviso en la barra lateral o cree uno presionando el botón de crear nuevo.</span>
                </section>
            </div>
        </div>
    </div>
</div>
