//giftboard styles
.currentCard {
  //Loader in giftboard
  .loadercontainer{
    height: 300px;
  }
  .activeCardInfo{
    border: solid 1px #DDDDDD;
    padding-top: 15px;

    img{
      width: 100%;
    }
    small{
      display: block;

      strong{
        margin-right: 5px;
      }
    }
    .cardPrimaryInfo{
      padding-bottom: 15px;
    }
    .cardSecondaryInfo{
      background-color: #f05050;
      color: white;
      padding: 10px;
    }
  }
}
