//giftboard styles
.currentCard {
  //Loader in giftboard
  .loadercontainer{
    height: 400px;
    position: absolute;
    z-index: 1000;
    min-width: 100%;
    background-color: white;
    display: table;
  }
}
