<div class="mapModal">
    <div class="modal-body">
        <div class="section">
            <div class="mapWrapper row">
                <div class="col-md-12">
                    <div zoom="17" map="map" style="height: 400px" class="map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="close()" class="btn btn-theme btn-sm">{{ 'GENERIC.CLOSE' | translate }}</button>
        <button ng-click="apply()" class="btn btn-theme btn-sm">{{ 'GENERIC.APPLY' | translate }}</button>
    </div>
</div>
