<div class="maintenanceModal">
    <div class="modal-header">
        <button data-dismiss="modal" ng-click="cancel()" aria-label="close" class="close"><span
                aria-hidden="true">&times;</span></button>
        <h3 ng-if="type=='create'">Create a new </h3>
        <h3 ng-if="type!=='create'">Edit</h3>
    </div>
    <div class="modal-body">
        <div>
            <h4>Asigne Contenido a su beacon</h4>
        </div>
        <div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="row">
                        <h5>Tipo de objeto</h5>
                        <select ng-model="obj.objectType" ng-change="changeObjectType()" class="form-control">
                            <option value="1">Element</option>
                            <option value="2">Showcase</option>
                        </select>
                    </div>
                    <div ng-if="obj.objectType==='1'" class="row">
                        <h5>Element:</h5>
                        <select ng-model="obj.identifier" class="form-control">
                            <option value="">Select an option</option>
                            <option ng-repeat="objEl in elements" value="{{objEl.elementIdentifier}}"
                                    ng-selected="objEl.elementIdentifier === obj.identifier">{{objEl.title}}
                            </option>
                        </select>
                    </div>
                    <div ng-if="obj.objectType==='2'" class="row">
                        <h5>Showcase:</h5>
                        <select ng-model="obj.identifier" class="form-control">
                            <option value="">Select an option</option>
                            <option ng-repeat="objSh in showcases" value="{{objSh.identifier}}"
                                    ng-selected="objSh.identifier === obj.identifier">{{objSh.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h5>Notificaciones</h5>

                        <p>Este mensaje ser&aacute; mostrado a usuarios en las cercanias del Beacon</p>
                    </div>
                    <div class="row">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input ng-model="hasNotificationBool" ng-change="changeNotificationState()" input
                                       type="checkbox"/>
                                <span class="fa fa-check"></span>
                                <strong>Habilitar Notificaci&oacute;n</strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <h5>Mensaje</h5>
                        <input type="text" ng-model="obj.notification" ng-disabled="!hasNotificationBool"
                               class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <h4>Opciones de tiempo</h4>

                <p>El contenido asignado tendr&aacute; prioridad para su beacon en los d&iacute;as y el horario
                    seleccionado</p>

                <div class="row">
                    <div class="checkbox c-checkbox">
                        <label>
                            <input ng-model="hasTimeOptionsBool" ng-change="changeTimeOptionsState()" input
                                   type="checkbox"/>
                            <span class="fa fa-check"></span>
                            <strong>Habilitar Opciones de tiempo</strong>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Desde</h4>
                        <timepicker readonly-input="true" hour-step="1" minute-step="30" show-meridian="false"
                                    ng-model="obj.startTime" ng-disabled="!hasTimeOptionsBool"></timepicker>
                    </div>
                    <div class="col-md-6">
                        <h4>Hasta</h4>
                        <timepicker readonly-input="true" hour-step="1" minute-step="30" show-meridian="false"
                                    ng-model="obj.endTime" ng-disabled="!hasTimeOptionsBool"></timepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h4>D&iacute;as</h4>

                    <p>Selecciona los d&iacute;as que el objecto va a estar activo</p>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input ng-model="mondayBool" ng-change="changeDayState('onMonday','mondayBool')"
                                           input type="checkbox" ng-disabled="!hasTimeOptionsBool"/>
                                    <span class="fa fa-check"></span>
                                    <strong>Lunes</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input ng-model="tuesdayBool" ng-change="changeDayState('onTuesday','tuesdayBool')"
                                           input type="checkbox" ng-disabled="!hasTimeOptionsBool"/>
                                    <span class="fa fa-check"></span>
                                    <strong>Martes</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input ng-model="wednesdayBool" ng-change="changeDayState('onWednesday','wednesdayBool')"
                                           input type="checkbox" ng-disabled="!hasTimeOptionsBool"/>
                                    <span class="fa fa-check"></span>
                                    <strong>Mi&eacute;rcoles</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input ng-model="thursdayBool" ng-change="changeDayState('onThursday','thursdayBool')"
                                           input type="checkbox" ng-disabled="!hasTimeOptionsBool"/>
                                    <span class="fa fa-check"></span>
                                    <strong>Jueves</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input ng-model="fridayBool" ng-change="changeDayState('onFriday','fridayBool')"
                                           input type="checkbox" ng-disabled="!hasTimeOptionsBool"/>
                                    <span class="fa fa-check"></span>
                                    <strong>Viernes</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input ng-model="saturdayBool" ng-change="changeDayState('onSaturday','saturdayBool')"
                                           input type="checkbox" ng-disabled="!hasTimeOptionsBool"/>
                                    <span class="fa fa-check"></span>
                                    <strong>Sabado</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input ng-model="sundayBool" ng-change="changeDayState('onSunday','sundayBool')"
                                           input type="checkbox" ng-disabled="!hasTimeOptionsBool"/>
                                    <span class="fa fa-check"></span>
                                    <strong>Domingo</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="row">
                <button ng-click="save()" ng-if="type=='create'" class="btn btn-danger btn-md">Salvar</button>
                <button ng-click="cancel()" ng-if="type=='create'" class="btn btn-theme btn-md">Cancelar</button>
                <button ng-click="save()" ng-if="type=='edit'" class="btn btn-danger btn-md">Listo</button>
            </div>
        </div>
    </div>
</div>
