<div class="panel-title">Ultimos 10 comentarios</div>
<!-- START list group-->
<scrollable height="250" class="list-group">
    <!-- START list group item-->
    <a href="#" class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <img src="modules/core/img/user/02.jpg" alt="Image"
                     class="media-box-object img-circle thumb32"/>
            </div>
            <div class="media-box-body clearfix">
                <small class="pull-right">2h</small>
                <strong class="media-box-heading text-primary">
                    <span class="circle circle-success circle-lg text-left"></span>Catherine
                    Ellis</strong>

                <p class="mb-sm">
                    <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                </p>
            </div>
        </div>
    </a>
    <!-- END list group item-->
    <!-- START list group item-->
    <a href="#" class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <img src="modules/core/img/user/03.jpg" alt="Image"
                     class="media-box-object img-circle thumb32"/>
            </div>
            <div class="media-box-body clearfix">
                <small class="pull-right">3h</small>
                <strong class="media-box-heading text-primary">
                    <span class="circle circle-success circle-lg text-left"></span>Jessica
                    Silva</strong>

                <p class="mb-sm">
                    <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
                </p>
            </div>
        </div>
    </a>
    <!-- END list group item-->
    <!-- START list group item-->
    <a href="#" class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <img src="modules/core/img/user/09.jpg" alt="Image"
                     class="media-box-object img-circle thumb32"/>
            </div>
            <div class="media-box-body clearfix">
                <small class="pull-right">4h</small>
                <strong class="media-box-heading text-primary">
                    <span class="circle circle-danger circle-lg text-left"></span>Jessie Wells</strong>

                <p class="mb-sm">
                    <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                </p>
            </div>
        </div>
    </a>
    <!-- END list group item-->
    <!-- START list group item-->
    <a href="#" class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <img src="modules/core/img/user/12.jpg" alt="Image"
                     class="media-box-object img-circle thumb32"/>
            </div>
            <div class="media-box-body clearfix">
                <small class="pull-right">1d</small>
                <strong class="media-box-heading text-primary">
                    <span class="circle circle-danger circle-lg text-left"></span>Rosa Burke</strong>

                <p class="mb-sm">
                    <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                </p>
            </div>
        </div>
    </a>
    <!-- END list group item-->
    <!-- START list group item-->
    <a href="#" class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <img src="modules/core/img/user/10.jpg" alt="Image"
                     class="media-box-object img-circle thumb32"/>
            </div>
            <div class="media-box-body clearfix">
                <small class="pull-right">2d</small>
                <strong class="media-box-heading text-primary">
                    <span class="circle circle-danger circle-lg text-left"></span>Michelle Lane</strong>

                <p class="mb-sm">
                    <small>Mauris eleifend, libero nec cursus lacinia...</small>
                </p>
            </div>
        </div>
    </a>
    <!-- END list group item-->
</scrollable>
<!-- END list group-->
<!-- START panel footer-->
<div class="panel-footer clearfix">
</div>
