/*Gift View Styles*/
.cards-section{
  form{
    background-color: #efefef;
  }
  .period-negative{
    margin-left: 40px;
    margin-bottom: 15px;
  }
  .unlimitedCard, .limitedCard, .urlCheckbox{
    float: left;
  }
  .limitedCard{
    width: 70%;
    margin-left: 2.5px;
    margin-right: 5%;
  }
  .unlimitedCard, .urlCheckbox{
    width: 24%;
    margin-top: 33px;
  }
  .urlCheckbox{
    margin-top: 0;
  }
  .hasConditionsURL{
    margin-top: 10px;
  }
}
