.dashboard{
  //Nps partial client view styles
  .tab-content{
    padding-bottom: 0;

    .actions-box{
      height: 100%;
      small{
        font-size: 10px;
      }
    }
    small{
      display: block;
    }
    button{
      margin-top: 5px;
      width: 110px;
      left: 40px;
    }
    a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus{
      background-color: white;
    }
    .list-group{
      max-height: 340px;
      min-height: 340px;
      overflow-x: hidden;
      overflow-y: auto;
      padding-top: 0px;

      .list-group-item{
        min-height: 117px;
      }
    }
  }
  .nps-badge{
    position: absolute;
    top: -5px;
    right: 5px;
  }
  .panel{
    border-radius: 0;
  }
  .widget{
    height: 204.5px;
  }
}

.selectGiftModal{
  .activeGift{
    .gift-image, .nameDisplay{
      opacity: 1;
      border-color: #4a484b;
    }
  }
  ul{
    overflow: hidden;
    min-height: 198px;
    max-height: 396px;
    padding-left: 0;
    overflow-y:auto;
  }
  li{
    list-style: none;
    margin-top: 20px;

    div{
      cursor: pointer;

      &:focus{
        .gift-image, .nameDisplay{
          opacity: 1;
          border-color: #4a484b;
        }
      }
    }

    &:hover{
      .gift-image{
        opacity: 1;
      }
    }
  }
  .gift-image, .nameDisplay{
    opacity: 0.7;
    width: 100%;
    border: solid 1px #e4eaec;
  }
  .nameDisplay{
    color: white;
    background-color: #4a484b;
    margin-left: 5px;
    margin: 0;
    border-top: none;
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.visitsvsretorning-graph{
  min-height: 95px;
}

.color-biin-brand{
  color : #FE5621;
}

.filter-button-large:focus{
  color: #fff;
}
.filter-button-active{
  color: #FFF;
  background-color: #1da1f2;
}

.filter-button-inactive{
  color: #FFF;
  background-color: #4a484b;
}

.filter-button-large{
  padding: 10px 50px;
  font-size: 14px;
  line-height: 1.1;
}
.filter-button-large:hover{
  color: #FFF;
}

.select-site-label{
  margin-top: 5px;
  margin-right: 10px;
  font-weight: normal;
}

.text-22px{
  font-size: 22px;
}

.text-21px{
  font-size: 21px;
}

.text-20px{
  font-size: 20px;
}

.text-19px{
  font-size: 19px;
}

.text-18px{
  font-size: 18px;
}

.text-17px{
  font-size: 17px;
}

.text-16px{
  font-size: 16px;
}

.text-15px{
  font-size: 15px;
}

.text-14px{
  font-size: 14px;
}

.text-13px{
  font-size: 13px;
}

.text-12px{
  font-size: 12px;
}

.loaderRelative{
  position: relative;
}

.loaderAnim.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}

.loaderAnim.ng-leave.ng-leave-active {
  opacity:0;
}

.loaderAnim.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.loaderAnim.ng-enter.ng-enter-active {
  opacity:1;
}
