.panel{
  margin-bottom: 6px;
  border: 0;
}

.bootstrap-tagsinput{
  span.label{
    font-size: 100%;
    background-color: #fe5621;
  }
}
html, body{
  height:100%;
  position: relative;
}

.no-object-container{
  position: absolute;
  height: 100%;
  padding-top: 50vh;
  margin-top: -55px;
}

.on-no-object-selected{
  color:#fe5621;
  font-size: 24px;
  margin-left: 15%;
  margin-right: 15%;
}

.col-same-height-of-table{
  height: 205px;
  display: flex;
  align-items: center;
}

.custom-border{
  display: block;

  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #e4eaec;
  border-radius: 3px;
}


.nps-last-comments-title{
  font-size: 18px;
}

.nps-last-comments-wrapper{
  margin-top: 15px;
}

.nps-total-nps-font{
  font-size: 20px;
}


.border-round{
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.line-scale > div {
  background: #fe5621 !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  align-items: center;
}
