.panel{
  margin-bottom: 6px;
  border: 0;
}

.bootstrap-tagsinput{
  span.label{
    font-size: 100%;
    background-color: #fe5621;
  }
}
html, body{
  height:100%;
  position: relative;
}

.no-object-container{

  position: absolute;
  height: 100%;
  padding-top: 50vh;
  margin-top: -55px;

}

.on-no-object-selected{
  color:#fe5621;
  font-size: 24px;
  margin-left: 15%;
  margin-right: 15%;
}
