.NPSScore{
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

.NPSIndexText{
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;

}


.nps-green-border{
  border-color: #00A000;
}

.nps-orange-border{
  border-color: #FE5621;
}

.nps-red-border{
  border-color: #f05050;
}
