/* ========================================================================
Component: sidemenu.less
 ========================================================================== */

@sidebar-object-bg:               #CCCCCC;
@sidebar-object-wd:               220px;
@sidebar-object-wd-collapsed:     70px;

@content-object-bg:               @body-bg;

@sidebar-object-item-color:              #FFFFFF;
@sidebar-object-item-color-active:       @nav-top-bg;
@sidebar-object-item-bg-active:          darken(@sidebar-object-bg, 6%);

@sidebar-object-icon-color:              inherits;
@sidebar-object-icon-color-active:       @nav-top-bg;

@sidebar-object-bullet-color:            rgba(0,0,0,.25);
@sidebar-object-bullet-color-active:     @sidebar-object-icon-color-active;

@sidebar-object-heading-color:           #919DA8;
@sidebar-object-label-color:             @sidebar-object-item-color;

@submenu-object-header-hg:               40px;   // Submenu header when hover collapse sidebar
@sidebar-object-item-border-wd:          3px;
@scrollbar-object-wd:                    17px;

.sidemenu-object {
  height: 100%;
  padding-bottom: 5px;
  background-color: #efefef;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  // draw a divider for the sidebar
  //&:before {
  //  content:"";
  //  background: rgba(0,0,0,.15);
  //  position: absolute;
  //  display: block;
  //  top:0;
  //  bottom: 0;
  //  right: 0;
  //  width: 1px;
  //  -webkit-transform: translateZ(0px);
  //}
}

.list-items-side-menu{
    width: 100%;
    height: 70px;
    position: relative;

  .btnDelete{
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    right: 0px;
    bottom: 0px;
    opacity: 0.7;
    display: none;
    > i{
      font-size: 1.3em;
      margin-left: 3px;
      margin-top: 1px;
    }
  }
}

// Hides the scrollbar only on desktops
@tablet-landscape: ~"only screen and (min-width: 1025px)";
@media @tablet-landscape {
  .sidebar-object {
    margin-right: -@scrollbar-object-wd;
    overflow-y: auto;
  }
}

.thumbListImage{
  padding-left: 7px;
  padding-top: 6px;
  margin-top: 2px;
  position: relative;
  max-height: 100%;
  min-height: 100%;
  height: 60px;

  img{
    width: 60px;
    max-height: 100%;
    height: 100%;
  }
}

.objects-left-bar{
  //box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  /* Firefox */
  height: -moz-calc(~"100% - 35px");
  /* WebKit */
  height: -webkit-calc(~"100% - 35px");
  /* Opera */
  height: -o-calc(~"100% - 35px");
  /* Standard */
  height: calc(~"100% - 35px");
}

.objects-sidebar{
  width: 230px;
  //min-height: 100%;
  /* Firefox */
  height: -moz-calc(~"100% - 55px");
  /* WebKit */
  height: -webkit-calc(~"100% - 55px");
  /* Opera */
  height: -o-calc(~"100% - 55px");
  /* Standard */
  height: calc(~"100% - 55px");


  position: fixed;
  //height: 1px;
  background-color: #efefef;
  z-index: @z-index-main-section + 5;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
  margin-left : -20px;
  margin-top: -20px;
  > .hide-button{
    > .fa-chevron-right{
      display : none;
    }
    > .fa-chevron-left{

    }
  }
}

.objects-sidebar.contracted {
  width: 0;
  //> .objects-left-bar{
    > .hide-button{
      position: absolute;
      margin-left: 5px;
      > .fa-chevron-right{
        display: block;
      }
      > .fa-chevron-left{
        display : none;
      }
    }
    >.sidebar-filter {
      display: none;
      //overflow-x: hidden;
    }

  //}
}



// labels in menu items
.nav {
  .label {
    position: absolute;
    top: 10px;
    right: 5px;
    text-indent: 0;
  }
}

.right-section-content.extended {
  padding-left: 0;
}

.right-section-content{
  padding-left: 210px;
  -webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
  transition: 0.3s;
  margin-top: -20px;
  margin-right: -20px;
}

.hide-button{
  float: right;
  position: absolute;
  margin-left: 225px;
}

.container-scroll {
  height: 100%;
  overflow-y: auto;
}

/*.sidebar-filter {
  margin-left: 5px;
  margin-top: 5px;
}*/

.col-center-block {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.btnAdd {
  height: 35px;
  padding: 8px 14px 6px 14px;
  background-color: #1da1f2;
  color: #FFFFFF;
  border-radius: 5px;

  &:hover{
    background-color: #1996e2;
  }
}

.title-sidebar-object{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000011;
  display: block;
  margin-bottom: 0;
}
.body-sidebar-object{
  display: block;
}
.object-item{
  background-color: @content-object-bg;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 0px #e4e4e4;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.object-item:hover{
  background: #fbfbfb;
}

.object-item.active{
  box-shadow: inset -5px 0px #1da1f2;
}

.btn-add{
  margin-left: 6px;
  display: inline-block;
  float: left;
}

.searchBox-wrapper{
  display: inline-block;
  float: right;
  margin-right: 6px;
  position: relative;

  > input{
    text-indent: 26px;
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 11px;
  }
  span{
    font-size: 15px;
    position: absolute;
    color: #bec0ce;
    top: 10px;
    left: 14px;
  }
}

.searchBox-wrapper-without-add-button{
  margin-right: 6px;
  margin-left: 6px;
  > input{
    border-radius: 6px;
  }
}

.sidebar-filter{
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

.list-items-side-menu{
  div{
    .twoRowTitle, .oneRowTitle{
      font-size: 15px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      color: #000011;
      margin-bottom: 0;
      font-weight: 200;
      display: block;
      cursor: pointer;
    }
    .twoRowTitle{
      line-height: 24px;
      padding-top: 13px;
    }
    .oneRowTitle{
      line-height: 15px;
      padding-top: 27px;
    }
    .twoRowSubTitle{
      white-space:nowrap;
      text-overflow:ellipsis;
      display: block;
      width: 100%;
      overflow: hidden;
    }
  }
  .valid-color{
    color: #27c24c;
  }
  .invalid-color{
    color: #f05050;
  }
  .leftInformationArea{
    small,label{
      margin-left: 4px;
    }
  }
}

.maintenanceList{
  padding-left: 15px;
}



