/* ========================================================================
Component: sidemenu.less
 ========================================================================== */

@sidebar-bg:                      @aside-bg;
@sidebar-wd:                      220px;
@sidebar-wd-collapsed:            70px;

@content-bg:                      @body-bg;

@sidebar-item-color:              #515253;
@sidebar-item-color-active:       @nav-top-bg;
@sidebar-item-bg-active:          darken(@sidebar-bg, 6%);

@sidebar-icon-color:              inherits;
@sidebar-icon-color-active:       @nav-top-bg;

@sidebar-bullet-color:            rgba(0,0,0,.25);
@sidebar-bullet-color-active:     @sidebar-icon-color-active;

@sidebar-heading-color:           #919DA8;
@sidebar-label-color:             @sidebar-item-color;

@submenu-header-hg:               40px;   // Submenu header when hover collapse sidebar
@sidebar-item-border-wd:          3px;
@scrollbar-wd:                    17px;

.sidemenu {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @sidebar-bg;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  // draw a divider for the sidebar
  &:before {
    content:"";
    background: rgba(0,0,0,.15);
    position: absolute;
    display: block;
    top:0;
    bottom: 0;
    right: 0;
    width: 1px;
    -webkit-transform: translateZ(0px);
  }
}

.list-items-side-menu{
    width: 100%;
    height: 80px;
    position: relative;

  .btnDelete{
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    right: 0px;
    bottom: 0px;
    opacity: 0.7;
    display: none;
    > i{
      font-size: 1.3em;
      margin-left: 3px;
      margin-top: 1px;
    }
  }
}

.list-items-side-menu:hover{
  background: @sidebar-icon-color-active;
  .btnDelete{
    display: block;
  }
}

.list-items-side-menu.active{
  width: 100%;
  height: 80px;
  background: @sidebar-icon-color-active;
}

// Hides the scrollbar only on desktops
@tablet-landscape: ~"only screen and (min-width: 1025px)";
@media @tablet-landscape {
  .sidebar {
    margin-right: -@scrollbar-wd;
    overflow-y: auto;
  }
}

.thumbListImage{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  max-height: 100%;
  min-height: 100%;
  height: 80px;

  img{
    width: auto;
    max-height: 100%;
    height: 100%;
  }
}

.objects-left-bar{
  //box-sizing: border-box;
  overflow-x: hidden;
  //overflow-y: auto;
  height: 100%;
}

.objects-sidebar{
  width: @sidebar-wd;
  min-height: 100%;
  position: fixed;
  height: 1px;
  background-color: @sidebar-bg;
  z-index: @z-index-main-section + 5;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
}

.objects-sidebar.contracted {
  width: 0;
  //> .objects-left-bar{
    > .hide-button{
      position: absolute;
      margin-left: 5px;
    }
    >.sidebar-filter {
      display: none;
      //overflow-x: hidden;
    }

  //}
}



// labels in menu items
.nav {
  .label {
    position: absolute;
    top: 10px;
    right: 5px;
    text-indent: 0;
  }
}

.right-section-content.extended {
  padding-left: 0;
}

.right-section-content{
  padding-left: @sidebar-wd;
  -webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
  transition: 0.3s;
}

.hide-button{
  float: right;
  position: absolute;
  margin-left: 225px;
}

.container-scroll {
  height: 100%;
  overflow-y: auto;
}

/*.sidebar-filter {
  margin-left: 5px;
  margin-top: 5px;
}*/

.col-center-block {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.btnAdd {
  height: 35px;
  padding: 6px 14px
}

.title-sidebar-object{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000011;
  display: block;
  margin-bottom: 0px;
}
.body-sidebar-object{
  display: block;
}
