<div ng-include="'/modules/core/views/partials/loading.html'"  ng-controller="LoadingController" class="loading-container"></div>
<div ng-include="'/modules/core/views/partials/objectssidebar.html'" ng-controller="ObjectsSideBar" class=""></div>
<div ng-controller="OrganizationController as organization" class="block-center">
<div id="wrapperContent" class="container-fluid" ng-mouseleave="save()">
    <div class="right-section-content">
        <div ng-if="objectsSidebarService.selectedObject!=null && objectsSidebarService.selectedObject != {}">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <legend>{{ 'ORGANIZATION.TITLE' | translate }}</legend>
                        <!-- START row -->
                        <form ng-if="selectedOrganization!==''" ng-mouseleave="saveOrganization()" role="form">
                            <div class="img-organization">
                                <img ng-if="objectsSidebarService.selectedObject.media.length===0 || !objectsSidebarService.selectedObject.media[0].url" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt=""/>
                                <img ng-if="typeof(objectsSidebarService.selectedObject.media)!=='undefined' && objectsSidebarService.selectedObject.media.length>0 && objectsSidebarService.selectedObject.media[0].url" ng-src="{{objectsSidebarService.selectedObject.media[0].url}}" class="img-responsive"/>
                            </div>
                            <a upload-organization-image="#organizationInput" translate="GENERIC.UPLOAD_IMAGE" class="btn btn-default"></a>
                            <input id="organizationInput" type="file" class="hidden"/>

                            <div class="form-group">
                                <div class="checkbox c-checkbox">
                                    <label title="{{ 'HIGHLIGHT.LIMITEDQTY_TOOLTIP' | translate }}">
                                        <input type="checkbox"
                                               ng-model="objectsSidebarService.selectedObject.isPublished" ng-true-value="true" ng-false-value="false"/>
                                        <span class="fa fa-check"></span>
                                        {{ 'ORGANIZATION.PUBLISHED' | translate }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label translate="ORGANIZATION.NAME"></label>
                                <input type="text" placeholder="Name **" ng-model="objectsSidebarService.selectedObject.name" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="brand" translate="ORGANIZATION.BRAND"></label>
                                <input id="brand" type="text" placeholder="Brand Name **" ng-model="objectsSidebarService.selectedObject.brand" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label translate="ORGANIZATION.INFORMATION"></label>
                                <textarea id="description" placeholder="Description **" ng-model="objectsSidebarService.selectedObject.description" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="extraInfo" translate="ORGANIZATION.MORE_INFO"></label>
                                <input id="extraInfo" type="text" placeholder="Extra Information **" ng-model="objectsSidebarService.selectedObject.extraInfo" class="form-control"/>
                            </div>
                        </form>
                        <!-- END row -->
                    </div>
                </div>
                <button  type="button" ng-if="deletePermit" class="btn btn-oval btn-danger align-right" ng-click="deleteOrganization(' {{'GENERIC.DELETE_ORGANIZATION_CONFIRMATION' | translate}} ', objectsSidebarService.selectedObject)">{{ 'GENERIC.DELETE_ORGANIZATION' | translate }}</button>
                <code>IDENTIFIER: {{objectsSidebarService.selectedObject.identifier}}</code>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>
