<div class="biinModal">
    <div class="modal-body">
        <div class="">
            <div class="galleryWrapper">
                <div id="gallery" ng-if="loadingImages==true">
                    <div class="galleryControls">
                        <input type="text" ng-model="queryGallery" placeholder="Search" autofocus="autofocus" class="col-md-10"/>
                        <button upload-files="#uploadGallery" class="btn btn-default col-md-2">{{ 'GALLERY.UPLOAD' | translate }}</button>
                        <input id="uploadGallery" type="file" name="mediaFiles" accept="image/*" multiple="true" class="hidden"/>
                    </div>
                    <div class="galleryContainer row">
                        <div scrollbar="scrollbarOptionsStandard" class="scrollbar-inner">
                            <div class="col-md-12 nopadding gallery">
                                <div ng-repeat="galleItem in galleries | filter: queryGallery | orderBy: +originalName " drag="galleries" element-index="galleries.indexOf(galleItem)"
                                     style="background-color:RGB({{galleItem.mainColor}})"
                                     image-checkbox="image-checkbox" ng-class="{selected: isSelected}" image-checkbox="image-checkbox" class="col-md-1 galleryImageWrapper">
                                    <div class="galleryImageWrapperContent contentHideButtons">
                                        <img ng-src="{{galleItem.url}}" pending-indicator="pending-indicator" class="galleryImage img-responsive"/>
                                        <div class="moduleTitle"><span>{{galleItem.originalName}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="galleryLoader" ng-if="loadingImages==true">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="loader-inner ball-grid-pulse center">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="loading-text">
                                <p>{{ 'GALLERY.LOADING' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="galleryCrop" data-ng-if="true">
                    <div class="col-md-3">
                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#" ng-click="imgcrop.reset()" class="pull-right">
                                    <small class="fa fa-refresh text-muted"></small>
                                </a>Select an image file</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input id="fileInput" filestyle="" type="file" data-class-button="btn btn-default" data-class-input="form-control" data-button-text="" class="form-control" />
                                </div>
                                <p class="pv">Crop type:</p>
                                <div class="btn-group btn-group-justified mb">
                                    <label ng-model="imgcrop.imgcropType" btn-radio="'square'" class="btn btn-default">Square</label>
                                    <label ng-model="imgcrop.imgcropType" btn-radio="'circle'" class="btn btn-default">Circle</label>
                                </div>
                                <br/>
                                <div data-text="Cropped Image" class="imgcrop-preview">
                                    <img ng-src="{{imgcrop.myCroppedImage}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="imgcrop-area">
                                    <img-crop image="imgcrop.myImage" result-image="imgcrop.myCroppedImage" area-type="{{imgcrop.imgcropType}}"></img-crop>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="close()" class="btn btn-theme btn-sm">{{ 'GENERIC.CLOSE' | translate }}</button>
        <button ng-click="apply()" class="btn btn-theme btn-sm">{{ 'GENERIC.APPLY' | translate }}</button>
    </div>
</div>
