<div class="biinModal">
    <div class="modal-body">
        <div class="">
            <div class="galleryWrapper">
                <div id="gallery" ng-if="loadingImages==false">
                    <div class="galleryControls">
                        <input type="text" ng-model="queryGallery" placeholder="Search" autofocus="autofocus" class="col-md-10"/>
                        <button upload-files="#uploadGallery" class="btn btn-default col-md-2">UPLOAD</button>
                        <input id="uploadGallery" type="file" name="mediaFiles" accept="image/*" multiple="true" class="hidden"/>
                    </div>
                    <div class="galleryContainer row">
                        <div scrollbar="scrollbarOptionsStandard" class="scrollbar-inner">
                            <div class="col-md-12 nopadding gallery">
                                <div ng-repeat="galleItem in galleries | filter: queryGallery | orderBy: +originalName " drag="galleries" element-index="galleries.indexOf(galleItem)"
                                     style="background-color:RGB({{galleItem.mainColor}})"
                                     image-checkbox="image-checkbox" ng-class="{selected: isSelected}" image-checkbox="image-checkbox" class="col-md-2 galleryImageWrapper">
                                    <div class="galleryImageWrapperContent contentHideButtons">
                                        <img ng-src="{{galleItem.url}}" pending-indicator="pending-indicator" class="galleryImage img-responsive"/>
                                        <div class="moduleTitle"><span>{{galleItem.originalName}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="galleryLoader" ng-if="loadingImages==true">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="spinner-cube">
                                <div></div>
                                <div></div>
                            </div>
                            <p>loading images please wait..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="close()" class="btn btn-theme btn-sm">Close</button>
        <button ng-click="apply()" class="btn btn-theme btn-sm">Apply</button>
    </div>
</div>
