<div ng-controller="ElementsController as elementCtrl" class="block-center">
    <div id="wrapperContent" class="container-fluid" ng-mouseleave="save()">
        <div class="right-section-content">
            <div class="container-fluid sidemenu">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 searchBoxList">
                        <div class="col-md-2">
                            <button ng-click="create()" class="btn btnAdd">&#43;</button>
                        </div>
                        <div class="col-md-10">
                            <div class="searchBox-wrapper">
                                <input type="text" placeholder="filter" ng-model="query" autofocus="autofocus"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="item in elements | orderBy: '+title' | filter: query"
                         ng-click="edit(elements.indexOf(item))" class="col-md-12">
                        <div ng-class="{active: elements.indexOf(item) == selectedElement}"
                             class="list-items-side-menu container-fluid">
                            <div class="col-md-3 thumbListImage content-fluid">
                                <img ng-if="item.media.length == 0"
                                     src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                                     alt=""/>
                                <img ng-if="item.media.length > 0" ng-src="{{item.media[0].url}}"
                                     pending-indicator="pending-indicator"/>
                            </div>
                            <div class="col-md-9">
                                <label class="moduleTitle">{{item.title}}</label>

                                <div ng-click="openConfirmation('sm',elements.indexOf(item))"
                                     class="btnDelete icon-round-control btn-on-hover">
                                    <div class="icon icon-bin-2"></div>
                                </div>
                                <div class="btnShowcasePreview icon-round-control btn-on-hover">
                                    <div class="icon icon-arrange-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-section-content col-md-9">
            <div> <!-- ng-if="selectedSite!=null">-->
                <!-- NutShell Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend translate="SUMMARY.TITLE"></legend>
                        </div>
                        <div class="panel-body">
                            <form role="form" class="novalidate">
                                <div class="section">
                                    <div class="form-group">
                                        <label for="title1" translate="SUMMARY.NAME1" class="control-label"></label>
                                        <input id="title1" ng-model="elements[selectedElement].title" name="title"
                                               type="text" placeholder="Title **" ng-blur="validate()"
                                               required="required" class="form-control title-value"/>
                                        <span class="help-block" translate="SUMMARY.NAMEDESCRIPTION"></span>
                                    </div>
                                    <div class="form-group">
                                        <span class= "checkbox-inline c-checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objectsSidebarService.selectedObject.isHighlight" ng-true-value="'1'" ng-false-value="'0'"/>
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </span>
                                        <span translate="SUMMARY.HIGHTLIGHT"></span>
                                        <span class="help-block" translate="SUMMARY.HIGHTLIGHTDESCRIPTION">Turn on Hightlight to presents this element in the Hightlight section of the mobile app</span>
                                    </div>
                                    <div div class="form-group">
                                        <label for="title2" translate="SUMMARY.DESC1" class="control-label"></label>
                                        <input id="title2" ng-model="elements[selectedElement].subTitle" name="subTitle"
                                               type="text" placeholder="Subtitle" ng-blur="validate()"
                                               required="required" class="form-control title-value"/>
                                        <span class="help-block" translate="SUMMARY.DESC2"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <!-- Gallery Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend translate="GALLERY.TITLE"></legend>
                            <p translate="GALLERY.SUB_TITLE"></p>
                        </div>
                        <div class="panel-body">
                            <div drop="drop" class="section">
                                <div class="row">
                                    <div scrollbar="scrollbarOptionsStandard"
                                         class="ownedGalleryWrapper scrollbar-inner">
                                        <div ng-repeat="item in elements[selectedElement].media" class="img-block">
                                            <div class="moduleWrapper contentHideButtons"><img ng-src="{{item.url}}"
                                                                                               pending-indicator="pending-indicator"
                                                                                               class="imagegallery img-responsive"/>

                                                <div ng-click="removeMediaAt(elements[selectedElement].media.indexOf(item))"
                                                     class="btnShowcasePreview icon-round-control btnDelete btn-on-hover">
                                                    <div class="icon icon-bin-2"></div>
                                                </div>
                                            </div>
                                        </div>
                                                <span class="img-add-block">
                                                    <div class="moduleWrapper">
                                                        <div ng-click="showImageModal()" class="btn-browse btn-default">
                                                            Browse
                                                        </div>
                                                    </div>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Summary Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend translate="SUMMARY.DETAILS"></legend>
                            <p translate="SUMMARY.DETAILS1"></p>
                        </div>
                        <div class="panel-body">
                            <text-angular ng-model="htmlVariable"></text-angular>
                        </div>
                    </div>
                </section>
                <!-- Search Tags Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend translate="GENERIC.SEARCH_TAGS"></legend>
                        </div>
                        <div class="panel-body">
                            <input type="text" tagsinput="tagsinput" ng-value="elements[selectedElement].searchTags.join(',')"
                                   ng-model="elements[selectedElement].searchTags" class="form-control"/>
                            <span class="help-block" translate="GENERIC.SEARCH_TAGS_DESC"></span>
                            <code>value = {{elements[selectedElement].searchTags}}</code>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend>Categories</legend>
                        </div>
                        <div class="panel-body">
                            <div class="section">
                                <div id="categories">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div ng-repeat="cat in categories" ng-click="switchCategoryState(cat)"
                                                   class="col-md-3 catModule">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <input ng-if="containsCategory(cat) == 'active'" input type="checkbox" checked=""/>
                                                            <input ng-if="containsCategory(cat) != 'active'" input type="checkbox"/>
                                                            <span class="fa fa-check"></span>
                                                            {{cat.displayName}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="paragraph">
                                    <p>Categories allow your site and products to be visible on searches, select the
                                        ones you think need to asociate with your site and products form the list
                                        below.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <legend>Highlight</legend>
                        </div>
                        <div class="panel-body">
                            <div class="section">
                                <div class="row">
                                    <form class="form-inline novalidate">
                                        <div class="form-group col-md-4">
                                            <label>Precio</label>
                                            <input type="number" ng-model="elements[selectedElement].price"
                                                   placeholder="0.00" ng-blur="validate()" required="required"
                                                   ng-paste="validate()" step="0.01"
                                                   ng-pattern="/^[0-9]+(.[0-9]{1,2})?$/"
                                                   class="title-value highlightInput"/>
                                            <span class="help-block">Precio de lista</span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Moneda</label>
                                            <select title="Currency" name="Currency"
                                                    ng-model="elements[selectedElement].currencyType" data-size="4"
                                                    class="form-control bootstrap-select">
                                                <option value="1">&#36;</option>
                                                <option value="2">&#162;</option>
                                                <option value="3">&#8359;</option>
                                                <option value="4">&#128;</option>
                                            </select>
                                            <span class="help-block">Seleccione la moneda</span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" id="chkFromPrice" ng-model="objectsSidebarService.selectedObject.hasFromPrice"
                                                           ng-true-value="'1'" ng-false-value="'0'">
                                                    <span class="fa fa-check"></span>
                                                    Utilizar precio Desde
                                                </label>
                                            </div>
                                            <span class="help-block">Se marca para especificar que el precio empieza en este monto ver ejemplo</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="section">
                                <div class="row">
                                    <form class="form-inline novalidate">
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" id="chkDiscount"
                                                           ng-model="objectsSidebarService.selectedObject.hasDiscount"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    Porcentaje
                                                </label>
                                            </div>
                                            <input type="text" ng-model="elements[selectedElement].discount"
                                                   ng-disabled="!hasDiscountBool" placeholder="Discount"
                                                   ng-blur="validate()" required="required" is-number="is-number"
                                                   class="title-value highlightInput"/>
                                            <span class="help-block">Digite el porcentaje de descuento </span>
                                        </div>
                                        <div class="form-group col-md-4">
                                                <div class="checkbox c-checkbox">
                                                    <label>
                                                        <input type="checkbox" id="chkSaving"
                                                               ng-model="objectsSidebarService.selectedObject.hasSaving"
                                                               ng-true-value="'1'" ng-false-value="'0'"/>
                                                        <span class="fa fa-check"></span>
                                                        Monto del descuento
                                                    </label>
                                                </div>
                                                <input type="text" ng-model="elements[selectedElement].savings"
                                                       placeholder="0 %" ng-blur="validate()"
                                                       ng-disabled="!hasSavingBool" required="required"
                                                       is-number="is-number" class="title-value highlightInput"/>

                                                <span class="help-block">Digite manualmente el monto</span>
                                            </div>
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" id="chkPrice"
                                                           ng-model="objectsSidebarService.selectedObject.hasListPrice"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    Precio Final
                                                </label>
                                            </div>
                                            <input type="text" ng-model="elements[selectedElement].listPrice"
                                                   placeholder="Final Price" ng-blur="validate()"
                                                   ng-disabled="!hasListPriceBool" required="required"
                                                   is-number="is-number" class="title-value highlightInput"/>
                                            <span class="help-block">El precio final de la promoción</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="section">
                                <div class="row">
                                    <form class="form-inline novalidate">
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox"
                                                           ng-model="objectsSidebarService.selectedObject.hasTimming"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    Valido Desde
                                                </label>
                                            </div>
                                            <input type="datetime" date-time="date-time"
                                                   ng-model="elements[selectedElement].initialDate"
                                                   ng-disabled="!hasTimmingBool" placeholder="Initial Date**"
                                                   ng-blur="validate()" required="required" readonly="readonly"
                                                   class="highlightInput"/>
                                            <span class="help-block">Fecha de inicio de la promoción</span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox"
                                                           ng-model="objectsSidebarService.selectedObject.hasTimming"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    Valido Hasta
                                                </label>
                                            </div>
                                            <input type="datetime" date-time="date-time"
                                                   ng-model="elements[selectedElement].expirationDate"
                                                   ng-disabled="!hasTimmingBool" placeholder="Expiration Date**"
                                                   ng-blur="validate()" required="required" readonly="readonly"
                                                   class="highlightInput"/>
                                            <span class="help-block">Fecha final de la promoción</span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox"
                                                           ng-model="objectsSidebarService.selectedObject.hasQuantity"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    Cantidad Limitada
                                                </label>
                                            </div>
                                            <input type="text" ng-model="elements[selectedElement].quantity"
                                                   ng-disabled="!hasQuantityBool" placeholder="Quantity **"
                                                   ng-blur="validate()" required="required" is-number="is-number"
                                                   class="highlightInput"/>
                                            <span class="help-block">Permita hacer promociones con cantidades limitadas.</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
