<div ng-include="'/modules/core/views/partials/loading.html'"  ng-controller="LoadingController" class="loading-container"></div>
<div ng-include="'/modules/core/views/partials/objectssidebar.html'" ng-controller="ObjectsSideBar" class="objects-sidebar"></div>
<div ng-controller="ElementsController as elementCtrl" class="block-center">
    <div id="wrapperContent" class="container-fluid" ng-mouseleave="save()">
        <div class="right-section-content">
            <div ng-if="objectsSidebarService.selectedObject!=null && objectsSidebarService.selectedObject != {}">
                <!-- NutShell Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend translate="ELEMENT.TITLE"></legend>
                            <div ng-if="myForm.$invalid || objectsSidebarService.selectedObject.categories.length == 0 || objectsSidebarService.selectedObject.media.length == 0">
                                <label class="error-icon fa fa-minus-square enlarge-icon"></label>
                            </div>
                            <div ng-if="myForm.$valid && objectsSidebarService.selectedObject.categories.length > 0 && objectsSidebarService.selectedObject.media.length > 0">
                                <label class="ready-icon fa fa-check-square-o enlarge-icon"></label>
                            </div>
                            <form name="myForm" role="form" class="form-validate">
                                <div class="section">
                                    <div class="form-group">
                                        <label for="title" translate="ELEMENT.NAME" class="control-label"></label>
                                        <input id="title" ng-model="objectsSidebarService.selectedObject.title" name="title"
                                               type="text" placeholder="{{ 'ELEMENT.NAME_PLACEHOLDER' | translate }}"
                                               required="required" class="form-control title-value"/>
                                    </div>
                                    <div class="form-group">
                                        <span class= "checkbox-inline c-checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objectsSidebarService.selectedObject.isHighlight" ng-true-value="'1'" ng-false-value="'0'"/>
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </span>
                                        <span translate="ELEMENT.HIGHLIGHT"></span>
                                        <span class="help-block" translate="ELEMENT.HIGHLIGHT_INFO">Turn on Hightlight to presents this element in the Hightlight section of the mobile app</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" translate="ELEMENT.DESCRIPTION" class="control-label"></label>
                                        <input id="description" ng-model="objectsSidebarService.selectedObject.subTitle" name="subTitle"
                                               type="text" placeholder="{{ 'ELEMENT.DESCRIPTION_PLACEHOLDER' | translate }}" ng-blur="validate()"
                                               class="form-control title-value"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="elemSearchTag" translate="GENERIC.SEARCH_TAGS"></label>
                                    <input id="elemSearchTag" type="text" tagsinput="tagsinput" ng-model="temptags" />
                                    <span class="help-block" translate="GENERIC.SEARCH_TAGS_DESC"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

                <!-- Categories Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend translate="GENERIC.CATEGORIES"></legend>
                            <p translate="CATEGORY.CATEGORIES_DESCRIPTION"></p>
                            <div class="error-message" ng-show="objectsSidebarService.selectedObject.categories.length == 0">* {{ 'GENERIC.CATEGORIES_REQUIRED_MESSAGE' | translate }}</div>
                            <div class="section">
                                <div id="categories">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div ng-repeat="cat in categories" class="col-md-4 catModule">
                                                    <div class="checkbox c-checkbox">
                                                        <label>
                                                            <!--input input type="checkbox" checked="{{containsCategory(cat)}}"/-->
                                                            <input ng-click="updateSelectedCategories(cat)" ng-checked="containsCategory(cat) == true" type="checkbox"/>
                                                            <span class="fa fa-check"></span>
                                                            {{cat.displayName}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Gallery Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend translate="GALLERY.TITLE"></legend>
                            <p translate="GALLERY.SUB_TITLE"></p>
                            <div class="error-message" ng-show="objectsSidebarService.selectedObject.media.length == 0">* {{ 'GENERIC.GALLERIES_REQUIRED_MESSAGE' | translate }}</div>
                            <gallery ng-model="objectsSidebarService.selectedObject.media" gallery="galleries"></gallery>
                        </div>
                    </div>
                </section>
                <!-- Summary Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend translate="ELEMENT.DETAILS"></legend>
                            <p translate="ELEMENT.DETAILS_INFO"></p>
                            <text-angular ng-model="objectsSidebarService.selectedObject.detailsHtml"></text-angular>
                        </div>
                    </div>
                 </section>

                <!-- Call to action Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend translate="ELEMENT.ACTION"></legend>
                            <p translate="ELEMENT.ACTION_INFO"></p>
                            <div class="form-group">
                                <label for="actionTitle" translate="ELEMENT.ACTION_TITLE" class="control-label"></label>
                                <input id="actionTitle" ng-model="objectsSidebarService.selectedObject.callToActionTitle" name="title"
                                       type="text" placeholder="{{ 'ELEMENT.ACTION_TITLE_PLACEHOLDER' | translate }}"
                                       class="form-control title-value"/>
                            </div>
                            <div class="form-group">
                                <label for="actionLink" translate="ELEMENT.ACTION_URL" class="control-label"></label>
                                <input id="actionLink" ng-model="objectsSidebarService.selectedObject.callToActionURL" name="title"
                                       type="text" placeholder="{{ 'ELEMENT.ACTION_URL_PLACEHOLDER' | translate }}"
                                       class="form-control title-value"/>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Highlights Section -->
                <section>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend translate="GENERIC.HIGHLIGHT"></legend>
                            <div class="section section-margin">
                                <div class="row">
                                    <form class="form-inline novalidate">
                                        <div class="form-group col-md-4">
                                            <span title="{{ 'HIGHLIGHT.PRICE_TOOLTIP' | translate }}">Precio</span>
                                            <input type="number" ng-model="objectsSidebarService.selectedObject.price"
                                                   placeholder="0.00" ng-blur="validate()" required="required"
                                                   ng-paste="validate()" step="0.01"
                                                   ng-pattern="/^[0-9]+(.[0-9]{1,2})?$/"
                                                   class="title-value highlightInput"/>

                                        </div>
                                        <div class="form-group col-md-4">
                                            <span title="{{ 'HIGHLIGHT.CURRENCY_TOOLTIP' | translate }}" translate="HIGHLIGHT.CURRENCY"></span>
                                            <select name="Currency"
                                                    ng-model="objectsSidebarService.selectedObject.currencyType" data-size="4"
                                                    class="form-control bootstrap-select">
                                                <option value="1">&#36;</option>
                                                <option value="2">&#162;</option>
                                                <option value="3">&#8359;</option>
                                                <option value="4">&#128;</option>
                                            </select>

                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label title="{{ 'HIGHLIGHT.PRICESTART_TOOLTIP' | translate }}">
                                                    <input type="checkbox" id="chkFromPrice" ng-model="objectsSidebarService.selectedObject.hasFromPrice"
                                                           ng-true-value="'1'" ng-false-value="'0'">
                                                    <span class="fa fa-check"></span>
                                                    {{ 'HIGHLIGHT.PRICESTART' | translate }}
                                                </label>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="section section-margin">
                                <div class="row">
                                    <form class="form-inline novalidate">
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label title="{{ 'HIGHLIGHT.PERCENT_TOOLTIP' | translate }}">
                                                    <input type="checkbox" id="chkDiscount"
                                                           ng-model="objectsSidebarService.selectedObject.hasDiscount"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    {{ 'HIGHLIGHT.PERCENT' | translate }}
                                                </label>
                                            </div>
                                            <input type="text" ng-model="objectsSidebarService.selectedObject.discount"
                                                   ng-disabled="objectsSidebarService.selectedObject.hasDiscount=='0'" placeholder="0%"
                                                   required="required"
                                                   class="title-value highlightInput"/>
                                        </div>
                                        <div class="form-group col-md-4">
                                                <div class="checkbox c-checkbox">
                                                    <label title="{{ 'HIGHLIGHT.DISCOUNT_TOOLTIP' | translate }}">
                                                        <input type="checkbox" id="chkSaving"
                                                               ng-model="objectsSidebarService.selectedObject.hasSaving"
                                                               ng-true-value="'1'" ng-false-value="'0'"/>
                                                        <span class="fa fa-check"></span>
                                                        {{ 'HIGHLIGHT.DISCOUNT' | translate }}
                                                    </label>
                                                </div>
                                                <input type="text" ng-model="objectsSidebarService.selectedObject.savings"
                                                       placeholder="{{ 'HIGHLIGHT.DISCOUNT_PLACEHOLDER' | translate }}" ng-blur="validate()"
                                                       ng-disabled="objectsSidebarService.selectedObject.hasSaving==0" required="required"
                                                       class="title-value highlightInput"/>
                                            </div>
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label title="{{ 'HIGHLIGHT.FINALPRICE_TOOLTIP' | translate }}">
                                                    <input type="checkbox" id="chkPrice"
                                                           ng-model="objectsSidebarService.selectedObject.hasListPrice"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    {{ 'HIGHLIGHT.FINALPRICE' | translate }}
                                                </label>
                                            </div>
                                            <input type="text" ng-model="objectsSidebarService.selectedObject.listPrice"
                                                   placeholder="{{ 'HIGHLIGHT.FINALPRICE_PLACEHOLDER' | translate }}" ng-blur="validate()"
                                                   ng-disabled="objectsSidebarService.selectedObject.hasListPrice=='0'" required="required"
                                                   class="title-value highlightInput"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="section section-margin">
                                <div class="row">
                                    <form class="form-inline novalidate">
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label title="{{ 'HIGHLIGHT.VALIDSINCE_TOOLTIP' | translate }}">
                                                    <input type="checkbox"
                                                           ng-model="objectsSidebarService.selectedObject.hasTimming"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    {{ 'HIGHLIGHT.VALIDSINCE' | translate }}
                                                </label>
                                            </div>
                                            <input type="datetime" date-time="date-time"
                                                   ng-model="objectsSidebarService.selectedObject.initialDate"
                                                   ng-disabled="objectsSidebarService.selectedObject.hasTimming=='0'" placeholder="{{ 'HIGHLIGHT.VALIDSINCE_PLACEHOLDER' | translate }}"
                                                   ng-blur="validate()" required="required" readonly="readonly"
                                                   class="highlightInput"/>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label title="{{ 'HIGHLIGHT.VALIDUNTIL' | translate }}">
                                                    <input type="checkbox"
                                                           ng-model="objectsSidebarService.selectedObject.hasTimming"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    {{ 'HIGHLIGHT.VALIDUNTIL' | translate }}
                                                </label>
                                            </div>
                                            <input type="datetime" date-time="date-time"
                                                   ng-model="objectsSidebarService.selectedObject.expirationDate"
                                                   ng-disabled="objectsSidebarService.selectedObject.hasTimming=='0'" placeholder="{{ 'HIGHLIGHT.VALIDUNTIL_PLACEHOLDER' | translate }}"
                                                   ng-blur="validate()" required="required" readonly="readonly"
                                                   class="highlightInput"/>

                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="checkbox c-checkbox">
                                                <label title="{{ 'HIGHLIGHT.LIMITEDQTY_TOOLTIP' | translate }}">
                                                    <input type="checkbox"
                                                           ng-model="objectsSidebarService.selectedObject.hasQuantity"
                                                           ng-true-value="'1'" ng-false-value="'0'"/>
                                                    <span class="fa fa-check"></span>
                                                    {{ 'HIGHLIGHT.LIMITEDQTY' | translate }}
                                                </label>
                                            </div>
                                            <input type="text" ng-model="objectsSidebarService.selectedObject.quantity"
                                                   ng-disabled="objectsSidebarService.selectedObject.hasQuantity=='0'" placeholder="{{ 'HIGHLIGHT.LIMITEDQTY_PLACEHOLDER' | translate }}"
                                                   ng-blur="validate()" required="required" is-number="is-number"
                                                   class="highlightInput"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <button  type="button" class="btn btn-oval btn-danger align-right" ng-click="deleteElement(' {{'GENERIC.DELETE_ELEMENT_CONFIRMATION' | translate}} ', objectsSidebarService.selectedObject)">{{ 'GENERIC.DELETE_ELEMENT' | translate }}</button>
                <code>IDENTIFIER: {{objectsSidebarService.selectedObject.elementIdentifier}}</code>
            </div>
        </div>
    </div>
</div>
