<!-- Include here side menus that are going to be hide at the beginning -->
<div>
    <div>
        new
    </div>

</div>

<!-- Main view of the phone -->
<div class="basic-preview">
    <div class="template-cell">
        <img src="modules/basiccms/img/phone.png" class="img-responsive">
        <div class="template-site">
            <div class="basic-screen-preview">
                <div class="template-site-picture">
                </div>
                <div class="template-site-showcase-list">
                    <div class="template-site-showcase">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
